/* Root */
:root {
  --fg-1-100: #EC5929;
	--bg-1-100: #00D4B6;
	font-family: 'Varela', sans-serif;
}
/* /Root */

/* Everything */
*{
  margin: 0;
  padding: 0;
}
/* /Everything */

/* Loader */
div#loader-container {
  position: fixed;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  height: 100vh;
  width: 100%;
  background-color: var(--bg-1-100);
  z-index: +100;
  opacity: 100%;
}

  /* Loader Logo */
div#loader-container div#loader-logo {
  position: absolute;
  top: 50%;
  left: 50%;
  height: 20vh;
  width: 20vh;
  transform: translate(-50%, -50%);
  border-radius: 50%;
  overflow: hidden;
  border: 0.5vh solid var(--fg-1-100);
  box-sizing: border-box;
}

div#loader-container div#loader-logo img {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  height: 100%;
  width: 100%;
}
  /* /Loader Logo */

  /* Loader Items */
div#loader-container div.loader-item {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  height: 7vh;
  width: 7vh;
  box-sizing: border-box;
  border-radius: 50%;
  background-color: var(--fg-1-100);
  box-shadow: 0 0 3vh 1vh white;
}

div#loader-container div#loader-item-1 {
  top: calc(50% - 30vh); /* Side = 30 vh */
  left: 50%;
  animation-name: loader-item-1-anim;
  animation-duration: 2s;
  animation-iteration-count: infinite;
}

div#loader-container div#loader-item-2 {
  top: calc(50% - 9.27vh);
  left: calc(50% - 28.53vh);
  animation-name: loader-item-2-anim;
  animation-duration: 2s;
  animation-iteration-count: infinite;
}

div#loader-container div#loader-item-3 {
  top: calc(50% + 24.27vh);
  left: calc(50% - 17.633vh);
  animation-name: loader-item-3-anim;
  animation-duration: 2s;
  animation-iteration-count: infinite;
}

div#loader-container div#loader-item-4 {
  top: calc(50% + 24.27vh);
  left: calc(50% +  17.633vh);
  animation-name: loader-item-4-anim;
  animation-duration: 2s;
  animation-iteration-count: infinite;
}

div#loader-container div#loader-item-5 {
  top: calc(50% - 9.27vh);
  left: calc(50% + 28.53vh);
  animation-name: loader-item-5-anim;
  animation-duration: 2s;
  animation-iteration-count: infinite;
}

    /* Loader Animation */
@keyframes loader-item-1-anim {
  0% {top: calc(50% - 30vh);left: 50%;}
  20% {top: calc(50% - 9.27vh);left: calc(50% - 28.53vh);}
  40% {top: calc(50% + 24.27vh);left: calc(50% - 17.633vh);}
  60% {top: calc(50% + 24.27vh);left: calc(50% +  17.633vh);}
  80% {top: calc(50% - 9.27vh);left: calc(50% + 28.53vh);}
}

@keyframes loader-item-2-anim {
  0% {top: calc(50% - 9.27vh);left: calc(50% - 28.53vh);}
  20% {top: calc(50% + 24.27vh);left: calc(50% - 17.633vh);}
  40% {top: calc(50% + 24.27vh);left: calc(50% +  17.633vh);}
  60% {top: calc(50% - 9.27vh);left: calc(50% + 28.53vh);}
  80% {top: calc(50% - 30vh);left: 50%;}
}

@keyframes loader-item-3-anim {
  0% {top: calc(50% + 24.27vh);left: calc(50% - 17.633vh);}
  20% {top: calc(50% + 24.27vh);left: calc(50% +  17.633vh);}
  40% {top: calc(50% - 9.27vh);left: calc(50% + 28.53vh);}
  60% {top: calc(50% - 30vh);left: 50%;}
  80% {top: calc(50% - 9.27vh);left: calc(50% - 28.53vh);}
}

@keyframes loader-item-4-anim {
  0% {top: calc(50% + 24.27vh);left: calc(50% +  17.633vh);}
  20% {top: calc(50% - 9.27vh);left: calc(50% + 28.53vh);}
  40% {top: calc(50% - 30vh);left: 50%;}
  60% {top: calc(50% - 9.27vh);left: calc(50% - 28.53vh);}
  80% {top: calc(50% + 24.27vh);left: calc(50% - 17.633vh);}
}

@keyframes loader-item-5-anim {
  0% {top: calc(50% - 9.27vh);left: calc(50% + 28.53vh);}
  20% {top: calc(50% - 30vh);left: 50%;}
  40% {top: calc(50% - 9.27vh);left: calc(50% - 28.53vh);}
  60% {top: calc(50% + 24.27vh);left: calc(50% - 17.633vh);}
  80% {top: calc(50% + 24.27vh);left: calc(50% +  17.633vh);}
}
    /* /Loader Animation */
  /* /Loader Items */
/* /Loader */
    
/*BACKGROUND*/
div.background{
	position: fixed;
	height: 100vh;
	width: 100%;
	overflow: hidden;
}

video.background{
	position: fixed;
	top: 50%;
	left: 50%;
	transform: translate(-50%, -50%);
	min-width: 100%;
	min-height: 100vh;
	z-index: -1;
}

div.tint{
	position: fixed;
	left: 50%;
	top: 50%;
	transform: translate(-50% , -50%);
	height: 100vh;
	width: 100%;
	z-index: -1;
	background-color: rgba(0,0,0,0.5);
}
/*/BACKGROUND*/

/*logo*/
span.logo_heading{
	float: left;
	left: 10%;
	top: 10%;
	transition: 0.3s;
}

p.logo_heading{
	padding: 2vh;
	text-align: left;
	font-size: 15vh;
	font-family: 'Poppins', sans-serif;
	font-weight: 700;
	color: white;
	transition: 0.3s;
}

span.logo{
	position: fixed;
	float: left;
	background-color: none;
	height: 25vh;
	width: 25vh;
}

img.logo{
	display: inline;
	object-fit: cover;    
	height: 100%;
	width: 100%;
}
/*/logo*/

/*SIGN IN BUTTON*/

div.signin{
	position: absolute;
	background-color: none;
	left: 85%;
	top: 80%;
	transform: translate(-50%,-50%);
	transition: 0.3s;
	height: 8vh;
	width: 25vh;
	text-align: center;
	font-size: 5vh;
	text-decoration: none;
	border: 0.4vh solid var(--bg-1-100) ;
	border-radius:  1.5vh 1.5vh 1.5vh 1.5vh;
	font-family: 'Poppins', sans-serif;
	color:  white ;
	overflow: hidden;
}

div.signin:hover{
	transition: 0.3s;
	border: 0 solid var(--fg-1-100);
	color: var(--fg-1-100);
	box-shadow: 0 0 0.8vh 0.4vh var(--fg-1-100);
}

div.signin::before{
	content: "";
	position: absolute;
	left: 0;
	height: 0%;
	width: 100%;
	background-color:  #c3e5e7;
	z-index: -1;
	transition: 0.3s;
	top: 0;
	border-radius: 0 0 50% 50%;
}
div.signin:hover::before{
	height: 180%;
	transition: 0.3s;
}
/*RESPONSIVE I PAD*/

@media screen and (max-width: 1100px) {

	/*BACKGROUND TINT*/

	div.tint{
		height: 100%;
		width: 100%;
	}

	/*SIGN IN BUTTON*/
	div.signin{
		left: 50%;
		top: 70%;
		transform: translate(-50%, -50%);
	}

	/*LOGO*/

	span.logo_heading{
		float: none;
	}
	p.logo_heading{
		text-align: center;
		font-size: 10vh;
	}
	span.logo{
		display: block;
		position: absolute;
		left: 50%;
		top: 40%;
		transform: translate(-50%,-50%);
		border: 0.15vh solid var(--fg-1-100);
		box-shadow: 0 0 1.3vh 0.4vh var(--fg-1-100);
		border-radius: 50%;
		height: 20vh;
		width: 20vh;
	}
}

/*RESPONSIVE PHONE*/

@media screen and (max-width: 600px) {
    
	/*LOGO HEADING*/
	
	span.logo_heading{
		float: none;
	}

	p.logo_heading{
		text-align: center;
		font-size: 8vh;
	}
}