*{
    margin: 0;
    padding: 0;
}

/*BACKGROUND*/
div.background{
    position: fixed;
    height: 100vh;
    width: 100%;
    overflow: hidden;
}

video.background{
    position: fixed;
    object-fit: cover;
    right: 0;
    bottom: 0;
    min-width: 100%;
    min-height: 100%;
    z-index: -1;
}
/*logo*/

div.logo{
    position: absolute;
    margin: 0;
    top: 30%;
    left: 50%;
    transform: translate(-50%,-50%);
    background-color: none;
    border: 3px;
    border-color: black;
    border-style: solid;
    border-radius: 100%;
    backdrop-filter: blur(2px);
    box-shadow: 0 0 10px 3px black;
    height: 180px;
    width: 180px;
}

img.logo{
    object-fit: contain;    
    height: 100%;
    width: 100%;
}