/* Root */
:root {
  --fg-1-100: #EC5929;
	--bg-1-100: rgba(36, 36, 36, 0.411);
  --pbg:rgba(36, 36, 36, 0.411);
  --fc: #EC5929;
}
/* /Root */

/* Everything */
*{
  margin: 0;
  padding: 0;
  text-decoration: none;
  font-family: 'Rubik', sans-serif;
}
/* /Everything */

/* Loader */
div#loader-container {
  position: fixed;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  height: 100vh;
  width: 100%;
  background-color: rgba(36, 36, 36, 1);
  z-index: +100;
  opacity: 100%;
}

  /* Loader Logo */
div#loader-container div#loader-logo {
  position: absolute;
  top: 50%;
  left: 50%;
  height: 20vh;
  width: 20vh;
  transform: translate(-50%, -50%);
  border-radius: 50%;
  overflow: hidden;
  border: 0.5vh solid var(--fg-1-100);
  box-sizing: border-box;
}

div#loader-container div#loader-logo img {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  height: 100%;
  width: 100%;
}
  /* /Loader Logo */

  /* Loader Items */
div#loader-container div.loader-item {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  height: 7vh;
  width: 7vh;
  box-sizing: border-box;
  border-radius: 50%;
  background-color: var(--fg-1-100);
  box-shadow: 0 0 1vh 0.5vh white;
}

div#loader-container div#loader-item-1 {
  top: calc(50% - 30vh); /* Side = 30 vh */
  left: 50%;
  animation-name: loader-item-1-anim;
  animation-duration: 2s;
  animation-iteration-count: infinite;
}

div#loader-container div#loader-item-2 {
  top: calc(50% - 9.27vh);
  left: calc(50% - 28.53vh);
  animation-name: loader-item-2-anim;
  animation-duration: 2s;
  animation-iteration-count: infinite;
}

div#loader-container div#loader-item-3 {
  top: calc(50% + 24.27vh);
  left: calc(50% - 17.633vh);
  animation-name: loader-item-3-anim;
  animation-duration: 2s;
  animation-iteration-count: infinite;
}

div#loader-container div#loader-item-4 {
  top: calc(50% + 24.27vh);
  left: calc(50% +  17.633vh);
  animation-name: loader-item-4-anim;
  animation-duration: 2s;
  animation-iteration-count: infinite;
}

div#loader-container div#loader-item-5 {
  top: calc(50% - 9.27vh);
  left: calc(50% + 28.53vh);
  animation-name: loader-item-5-anim;
  animation-duration: 2s;
  animation-iteration-count: infinite;
}

    /* Loader Animation */
@keyframes loader-item-1-anim {
  0% {top: calc(50% - 30vh);left: 50%;}
  20% {top: calc(50% - 9.27vh);left: calc(50% - 28.53vh);}
  40% {top: calc(50% + 24.27vh);left: calc(50% - 17.633vh);}
  60% {top: calc(50% + 24.27vh);left: calc(50% +  17.633vh);}
  80% {top: calc(50% - 9.27vh);left: calc(50% + 28.53vh);}
}

@keyframes loader-item-2-anim {
  0% {top: calc(50% - 9.27vh);left: calc(50% - 28.53vh);}
  20% {top: calc(50% + 24.27vh);left: calc(50% - 17.633vh);}
  40% {top: calc(50% + 24.27vh);left: calc(50% +  17.633vh);}
  60% {top: calc(50% - 9.27vh);left: calc(50% + 28.53vh);}
  80% {top: calc(50% - 30vh);left: 50%;}
}

@keyframes loader-item-3-anim {
  0% {top: calc(50% + 24.27vh);left: calc(50% - 17.633vh);}
  20% {top: calc(50% + 24.27vh);left: calc(50% +  17.633vh);}
  40% {top: calc(50% - 9.27vh);left: calc(50% + 28.53vh);}
  60% {top: calc(50% - 30vh);left: 50%;}
  80% {top: calc(50% - 9.27vh);left: calc(50% - 28.53vh);}
}

@keyframes loader-item-4-anim {
  0% {top: calc(50% + 24.27vh);left: calc(50% +  17.633vh);}
  20% {top: calc(50% - 9.27vh);left: calc(50% + 28.53vh);}
  40% {top: calc(50% - 30vh);left: 50%;}
  60% {top: calc(50% - 9.27vh);left: calc(50% - 28.53vh);}
  80% {top: calc(50% + 24.27vh);left: calc(50% - 17.633vh);}
}

@keyframes loader-item-5-anim {
  0% {top: calc(50% - 9.27vh);left: calc(50% + 28.53vh);}
  20% {top: calc(50% - 30vh);left: 50%;}
  40% {top: calc(50% - 9.27vh);left: calc(50% - 28.53vh);}
  60% {top: calc(50% + 24.27vh);left: calc(50% - 17.633vh);}
  80% {top: calc(50% + 24.27vh);left: calc(50% +  17.633vh);}
}
    /* /Loader Animation */
  /* /Loader Items */
/* /Loader */

/* Navbar */
div#navbar-toggle-on {
	position: absolute;
	top: 1vh;
	left: 1vh;
	height: 5vh;
	width: 5vh;
	text-align: center;
	font-size: 5vh;
	line-height: 5vh;
	z-index: +2;
	color: var(--fg-1-100);
}

div#navbar-container {
  position: fixed;
	top: 50%;
	left: 0;
	transform: translate(-100%, -50%);
	height: 100%;
  width: 30%;
  box-sizing: border-box;
	background-color: rgba(32, 32, 32, 0.9);
	z-index: +3;
	box-shadow: 0 0 0.8vh 0.2vh rgb(0, 0, 0);
	border-right: 0.2vh solid var(--fg-1-100);
}

@media screen and (max-width: 1000px) {
	div#navbar-container {
		width: 100%;
		transform: translate(-100%, -50%);
		border-radius: 0;
	}
}

div#navbar-container div#navbar-toggle-off {
	position: absolute;
	top: 1vh;
	left: 1vh;
	height: 5vh;
	width: 5vh;
	text-align: center;
	font-size: 5vh;
	line-height: 5vh;
	z-index: +3;
	color: var(--fg-1-100);
}

div#navbar-container div#menu-container {
	position: absolute;
	top: 10%;
	left: 50%;
	transform: translate(-50%, 0);
	height: auto;
  width: 90%;
  box-sizing: border-box;
	display: flex;
	flex-direction: column;
  justify-content: space-between;
  font-size: 3vh;
}

div#menu-container div.menu-items {
  position: relative;
  background-color: rgba(255, 255, 255, 0.815);
  padding: 2vh 5vh;
  box-sizing: border-box;
  border-radius: 1.5vh 1.5vh 1.5vh 1.5vh;
  border: 0.25vh solid rgba(236, 90, 41, 0.58);
  width: 100%;
  left: 47.5%;
  transform: translate(-50%, 0);
  text-align: center;
  text-transform: uppercase;
  margin: 1vh;
  color: var(--fg-1-100);
}

div#navbar-container div.active {
  background-color: rgba(255, 112, 17, 0.9);
  color: rgba(255, 255, 255, 0.815);
}

div#menu-container div.menu-items:hover {
  background-color:var(--fg-1-100);
  color: white;
  transition-duration: 0.15s;
  box-shadow: white;
  box-shadow: 0 0 1vh 0.1vh var(--fg-1-100);
}
/* Navbar */

div.background-image {
  position: fixed;
  overflow: hidden;
  height: 100vh;
  width: 100%;
  z-index: -3;
}

div.background-image img {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  width: 100%;
  height: 100%;
}

div.travelog-logo-bar {
  position: absolute;
  left: 0;
  top: 0;
  width: 100%;
  height: 10vh;
  background-color: rgba(236, 90, 41, 0.712);
}

div.travelog-logo-bar div#travelog-logo {
  position: absolute;
  height: 10vh;
  width: 20vh;
  top: 0;
  left: 50%;
  transform: translate(-50%, 0);
}

div.travelog-logo-bar div#travelog-logo img {
  position: absolute;
  left: 50%;
  top: 50%;
  transform: translate(-50%, -50%);
  height: 10vh;
  width: auto;
}

div.rank-container-1 {
  position: absolute;
  left: 5%;
  top: 25%;
  width: 56%;
  height: 70vh;
}

div.rank-container-1 div.rank-1 {
  position: relative;
  width: 98%;
  left: 50%;
  transform: translate(-50%, 0);
  height: 30%;
  margin: 1.75vh 0vh;
  background-color:rgb(255, 187, 0);
  border-radius: 0.9vh;
}
 
div.rank-container-1 div.rank-1 div.profile-r1{
  position:absolute;
  left:3%;
  top:50%;
  transform: translate(0, -50%);
  width:12vh;
  height:8vh;
} 

div.rank-container-1 div.rank-1 div.profile-r1 img {
  position: absolute;
  left: 50%;
  top: 50%;
  transform: translate(-50%, -50%);
  width: 12vh;
}

div.rank-container-1 div.rank-1 div.profile-img {
  position: absolute;
  left:16%;
  top:50%;
  transform: translate(0, -50%);
  width:16vh;
  height:16vh;
  background-color:white;
  border-radius: 50%;
  overflow: hidden;
}

div.rank-container-1 div.rank-1 div.profile-img img{
  position:absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  width: 16.5vh;
}

div.rank-container-1 div.rank-1 div.r1-name{
  position: absolute;
  top: 45%;
  font-size: 4.5vh;
  left:35%;
  transform: translate(0, -50%);
  color: rgba(248, 248, 248, 0.9);
}

div.rank-container-1 div.rank-1 div.chest-1{
  position: absolute;
  top:50%;
  left:65%;
  transform: translate(0, -50%);
  width:10vh;
  height: 10vh;
}

div.rank-container-1 div.rank-1 div.chest-1 img {
  position:absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  width:20vh;
}

div.rank-container-1 div.rank-1 div.position {
  position: absolute;
  right: 1.5%;
  top:50%;
  width: 20vh;
  height: 12vh;
  transform: translate(0, -50%);
  color: rgba(255, 255, 255, 1); 
}

div.rank-container-1 div.rank-1 div.position div.p-rank {
  position: relative;
  text-align: right;
  font-size: 9vh;
  top: 5%;
}

div.rank-container-1 div.rank-1 div.position p {
  position: relative;
  text-align: right;
  font-size: 2.7vh;
  top: 10%;
}

div.rank-container-1 div.rank-2 {
  position: relative;
  width: 98%;
  left: 50%;
  transform: translate(-50%, 0);
  height: 30%;
  margin: 1.75vh 0vh;
  background-color:silver;
  border-radius: 0.9vh;
}

div.rank-container-1 div.rank-2 div.profile-r2{
  position:absolute;
  left:3%;
  top:50%;
  transform: translate(0, -50%);
  width:12vh;
  height:8vh;
} 

div.rank-container-1 div.rank-2 div.profile-r2 img {
  position: absolute;
  left: 50%;
  top: 50%;
  transform: translate(-50%, -50%);
  width: 12vh;
}

div.rank-container-1 div.rank-2 div.profile-img {
  position: absolute;
  left:16%;
  top:50%;
  transform: translate(0, -50%);
  width:16vh;
  height:16vh;
  background-color:white;
  border-radius: 50%;
  overflow: hidden;
}

div.rank-container-1 div.rank-2 div.profile-img img{
  position:absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  width: 16.5vh;
}

div.rank-container-1 div.rank-2 div.r2-name{
  position: absolute;
  top: 45%;
  font-size: 4.5vh;
  left:35%;
  transform: translate(0, -50%);
  color: rgba(248, 248, 248, 0.9);
}

div.rank-container-1 div.rank-2 div.chest-1{
  position: absolute;
  top:50%;
  left:65%;
  transform: translate(0, -50%);
  width:10vh;
  height: 10vh;
}

div.rank-container-1 div.rank-2 div.chest-1 img {
  position:absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  width:20vh;
}

div.rank-container-1 div.rank-2 div.position {
  position: absolute;
  right: 1.5%;
  top:50%;
  width: 20vh;
  height: 12vh;
  transform: translate(0, -50%);
  color: rgba(255, 255, 255, 1);
}

div.rank-container-1 div.rank-2 div.position div.p-rank {
  position: relative;
  text-align: right;
  font-size: 9vh;
  top: 5%;
}

div.rank-container-1 div.rank-2 div.position p {
  position: relative;
  text-align: right;
  font-size: 2.7vh;
  top: 10%;
}

div.rank-container-1 div.rank-3 {
  position: relative;
  width: 98%;
  left: 50%;
  transform: translate(-50%, 0);
  height: 30%;
  margin: 1.75vh 0vh;
  background-color:#8f5543;
  border-radius: 0.9vh;
}

div.rank-container-1 div.rank-3 div.profile-r3{
  position:absolute;
  left:3%;
  top:50%;
  transform: translate(0, -50%);
  width:12vh;
  height:8vh;
} 

div.rank-container-1 div.rank-3 div.profile-r3 img {
  position: absolute;
  left: 50%;
  top: 50%;
  transform: translate(-50%, -50%);
  width: 12vh;
}

div.rank-container-1 div.rank-3 div.profile-img {
  position: absolute;
  left:16%;
  top:50%;
  transform: translate(0, -50%);
  width:16vh;
  height:16vh;
  background-color:white;
  border-radius: 50%;
  overflow: hidden;
}

div.rank-container-1 div.rank-3 div.profile-img img{
  position:absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  width: 16.5vh;
}

div.rank-container-1 div.rank-3 div.r3-name{
  position: absolute;
  top: 45%;
  font-size: 4.5vh;
  left:35%;
  transform: translate(0, -50%);
  color: rgba(248, 248, 248, 0.9);
}

div.rank-container-1 div.rank-3 div.chest-1{
  position: absolute;
  top:50%;
  left:65%;
  transform: translate(0, -50%);
  width:10vh;
  height: 10vh;
}

div.rank-container-1 div.rank-3 div.chest-1 img {
  position:absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  width:20vh;
}

div.rank-container-1 div.rank-3 div.position {
  position: absolute;
  right: 1.5%;
  top:50%;
  width: 20vh;
  height: 12vh;
  transform: translate(0, -50%);
  color: rgba(255, 255, 255, 1);
}

div.rank-container-1 div.rank-3 div.position div.p-rank {
  position: relative;
  text-align: right;
  font-size: 9vh;
  top: 5%;
}

div.rank-container-1 div.rank-3 div.position p {
  position: relative;
  text-align: right;
  font-size: 2.7vh;
  top: 10%;
}

div.rank-container-2 {
  position: absolute;
  top: 18%;
  right: 3.5%;
  width: 32%;
  height: 80vh;
}

div.rank-container-2 div.rank-container-2-inner {
  position: absolute;
  height: 100%;
  width: 100%;
  overflow: hidden;
  overflow-y: scroll;
}

div.rank-container-2 div.rank-container-2-inner::-webkit-scrollbar {
  width: 0;
}

div.rank-container-2 div.rank-block-1 {
  position: relative;
  left: 50%;
  transform: translate(-50%, 0);
  height: 18vh;
  width: 98%;
  margin: 1vh 0vh;
  background-color: rgba(156, 156, 156, 0.74);
  border-radius: 0.7vh;
}

div.rank-container-2 div.rank-block-1 div.block-img{
  position:absolute;
  height:10vh;
  width:10vh;
  background-color: red;
  top:50%;
  left:5%;
  transform: translate(0, -50%);
  border-radius: 50%;
  overflow: hidden;
}

div.rank-container-2 div.rank-block-1 div.block-img img{
  position:absolute;
  top:50%;
  left:50%;
  transform: translate(-50%,-50%);
  height: 100%;
}

div.rank-container-2 div.rank-block-1 div.block-name{
  position: absolute;
  top:50%;
  left:28%;
  transform: translate(0, -50%);
  font-size: 4vh;
  color: #000000e0;
}

div.rank-container-2 div.rank-block-1 div.block-pos{
  position:absolute;
  top: 50%;
  right: 10%;
  transform: translate(0, -50%);
  font-size: 4vh;
}

div.rank-container-2 div.rank-block-2 {
  position: relative;
  left: 50%;
  transform: translate(-50%, 0);
  height: 18vh;
  width: 98%;
  margin: 1vh 0vh;
  background-color: rgba(156, 156, 156, 0.74);
  border-radius: 0.7vh;
}

div.rank-container-2 div.rank-block-2 div.block-img{
  position:absolute;
  height:10vh;
  width:10vh;
  background-color: red;
  top:50%;
  left:5%;
  transform: translate(0, -50%);
  border-radius: 50%;
  overflow: hidden;
}

div.rank-container-2 div.rank-block-2 div.block-img img{
  position:absolute;
  top:50%;
  left:50%;
  transform: translate(-50%,-50%);
  height: 100%;
}

div.rank-container-2 div.rank-block-2 div.block-name{
  position: absolute;
  top:50%;
  left:28%;
  transform: translate(0, -50%);
  font-size: 4vh;
  color: #000000e0;
}

div.rank-container-2 div.rank-block-2 div.block-pos{
  position:absolute;
  top: 50%;
  right: 10%;
  transform: translate(0, -50%);
  font-size: 4vh;
}

div.rank-container-2 div.rank-block-3 {
  position: relative;
  left: 50%;
  transform: translate(-50%, 0);
  height: 18vh;
  width: 98%;
  margin: 1vh 0vh;
  background-color: rgba(156, 156, 156, 0.74);
  border-radius: 0.7vh;
}

div.rank-container-2 div.rank-block-3 div.block-img{
  position:absolute;
  height:10vh;
  width:10vh;
  background-color: red;
  top:50%;
  left:5%;
  transform: translate(0, -50%);
  border-radius: 50%;
  overflow: hidden;
}

div.rank-container-2 div.rank-block-3 div.block-img img{
  position:absolute;
  top:50%;
  left:50%;
  transform: translate(-50%,-50%);
  height: 100%;
}

div.rank-container-2 div.rank-block-3 div.block-name{
  position: absolute;
  top:50%;
  left:28%;
  transform: translate(0, -50%);
  font-size: 4vh;
  color: #000000e0;
}

div.rank-container-2 div.rank-block-3 div.block-pos{
  position:absolute;
  top: 50%;
  right: 10%;
  transform: translate(0, -50%);
  font-size: 4vh;
}

div.rank-container-2 div.rank-block-4 {
  position: relative;
  left: 50%;
  transform: translate(-50%, 0);
  height: 18vh;
  width: 98%;
  margin: 1vh 0vh;
  background-color: rgba(156, 156, 156, 0.74);
  border-radius: 0.7vh;
}

div.rank-container-2 div.rank-block-4 div.block-img{
  position:absolute;
  height:10vh;
  width:10vh;
  background-color: red;
  top:50%;
  left:5%;
  transform: translate(0, -50%);
  border-radius: 50%;
  overflow: hidden;
}

div.rank-container-2 div.rank-block-4 div.block-img img{
  position:absolute;
  top:50%;
  left:50%;
  transform: translate(-50%,-50%);
  height: 100%;
}

div.rank-container-2 div.rank-block-4 div.block-name{
  position: absolute;
  top:50%;
  left:28%;
  transform: translate(0, -50%);
  font-size: 4vh;
  color: #000000e0;
}

div.rank-container-2 div.rank-block-4 div.block-pos{
  position:absolute;
  top: 50%;
  right: 10%;
  transform: translate(0, -50%);
  font-size: 4vh;
}

div.rank-container-2 div.rank-block-5 {
  position: relative;
  left: 50%;
  transform: translate(-50%, 0);
  height: 18vh;
  width: 98%;
  margin: 1vh 0vh;
  background-color: rgba(156, 156, 156, 0.74);
  border-radius: 0.7vh;
  overflow: hidden;
}

div.rank-container-2 div.rank-block-5 div.block-img{
  position:absolute;
  height:10vh;
  width:10vh;
  background-color: red;
  top:50%;
  left:5%;
  transform: translate(0, -50%);
  border-radius: 50%;
  overflow: hidden;
}

div.rank-container-2 div.rank-block-5 div.block-img img{
  position:absolute;
  top:50%;
  left:50%;
  transform: translate(-50%,-50%);
  height: 100%;
}

div.rank-container-2 div.rank-block-5 div.block-name{
  position: absolute;
  top:50%;
  left:28%;
  transform: translate(0, -50%);
  font-size: 4vh;
  color: #000000e0;
}

div.rank-container-2 div.rank-block-5 div.block-pos{
  position:absolute;
  top: 50%;
  right: 10%;
  transform: translate(0, -50%);
  font-size: 4vh;
}

div.rank-container-2 div.rank-block-6 {
  position: relative;
  left: 50%;
  transform: translate(-50%, 0);
  height: 18vh;
  width: 98%;
  margin: 1vh 0vh;
  background-color: rgba(156, 156, 156, 0.74);
  border-radius: 0.7vh;
}

div.rank-container-2 div.rank-block-6 div.block-img{
  position:absolute;
  height:10vh;
  width:10vh;
  background-color: red;
  top:50%;
  left:5%;
  transform: translate(0, -50%);
  border-radius: 50%;
  overflow: hidden;
}

div.rank-container-2 div.rank-block-6 div.block-img img{
  position:absolute;
  top:50%;
  left:50%;
  transform: translate(-50%,-50%);
  height: 100%;
}

div.rank-container-2 div.rank-block-6 div.block-name{
  position: absolute;
  top:50%;
  left:28%;
  transform: translate(0, -50%);
  font-size: 4vh;
  color: #000000e0;
}

div.rank-container-2 div.rank-block-6 div.block-pos{
  position:absolute;
  top: 50%;
  right: 10%;
  transform: translate(0, -50%);
  font-size: 4vh;
}

div.rank-container-2 div.rank-block-7 {
  position: relative;
  left: 50%;
  transform: translate(-50%, 0);
  height: 18vh;
  width: 98%;
  margin: 1vh 0vh;
  background-color: rgba(156, 156, 156, 0.74);
  border-radius: 0.7vh;
}

div.rank-container-2 div.rank-block-7 div.block-img{
  position:absolute;
  height:10vh;
  width:10vh;
  background-color: red;
  top:50%;
  left:5%;
  transform: translate(0, -50%);
  border-radius: 50%;
  overflow: hidden;
}

div.rank-container-2 div.rank-block-7 div.block-img img{
  position:absolute;
  top:50%;
  left:50%;
  transform: translate(-50%,-50%);
  height: 100%;
}

div.rank-container-2 div.rank-block-7 div.block-name{
  position: absolute;
  top:50%;
  left:28%;
  transform: translate(0, -50%);
  font-size: 4vh;
  color: #000000e0;
}

div.rank-container-2 div.rank-block-7 div.block-pos{
  position:absolute;
  top: 50%;
  right: 10%;
  transform: translate(0, -50%);
  font-size: 4vh;
}

div.rank-container-2 div.rank-block-8 {
  position: relative;
  left: 50%;
  transform: translate(-50%, 0);
  height: 18vh;
  width: 98%;
  margin: 1vh 0vh;
  background-color: rgba(156, 156, 156, 0.74);
  border-radius: 0.7vh;
}

div.rank-container-2 div.rank-block-8 div.block-img{
  position:absolute;
  height:10vh;
  width:10vh;
  background-color: red;
  top:50%;
  left:5%;
  transform: translate(0, -50%);
  border-radius: 50%;
  overflow: hidden;
}

div.rank-container-2 div.rank-block-8 div.block-img img{
  position:absolute;
  top:50%;
  left:50%;
  transform: translate(-50%,-50%);
  height: 100%;
}

div.rank-container-2 div.rank-block-8 div.block-name{
  position: absolute;
  top:50%;
  left:28%;
  transform: translate(0, -50%);
  font-size: 4vh;
  color: #000000e0;
}

div.rank-container-2 div.rank-block-8 div.block-pos{
  position:absolute;
  top: 50%;
  right: 10%;
  transform: translate(0, -50%);
  font-size: 4vh;
}

div.rank-container-2 div.rank-block-9 {
  position: relative;
  left: 50%;
  transform: translate(-50%, 0);
  height: 18vh;
  width: 98%;
  margin: 1vh 0vh;
  background-color: rgba(156, 156, 156, 0.74);
  border-radius: 0.7vh;
}

div.rank-container-2 div.rank-block-9 div.block-img{
  position:absolute;
  height:10vh;
  width:10vh;
  background-color: red;
  top:50%;
  left:5%;
  transform: translate(0, -50%);
  border-radius: 50%;
  overflow: hidden;
}

div.rank-container-2 div.rank-block-9 div.block-img img{
  position:absolute;
  top:50%;
  left:50%;
  transform: translate(-50%,-50%);
  height: 100%;
}

div.rank-container-2 div.rank-block-9 div.block-name{
  position: absolute;
  top:50%;
  left:28%;
  transform: translate(0, -50%);
  font-size: 4vh;
  color: #000000e0;
}

div.rank-container-2 div.rank-block-9 div.block-pos{
  position:absolute;
  top: 50%;
  right: 10%;
  transform: translate(0, -50%);
  font-size: 4vh;
}

div.rank-container-2 div.rank-block-10 {
  position: relative;
  left: 50%;
  transform: translate(-50%, 0);
  height: 18vh;
  width: 98%;
  margin: 1vh 0vh;
  background-color: rgba(156, 156, 156, 0.74);
  border-radius: 0.7vh;
}

div.rank-container-2 div.rank-block-10 div.block-img{
  position:absolute;
  height:10vh;
  width:10vh;
  background-color: red;
  top:50%;
  left:5%;
  transform: translate(0, -50%);
  border-radius: 50%;
  overflow: hidden;
}

div.rank-container-2 div.rank-block-10 div.block-img img{
  position:absolute;
  top:50%;
  left:50%;
  transform: translate(-50%,-50%);
  height: 100%;
}

div.rank-container-2 div.rank-block-10 div.block-name{
  position: absolute;
  top:50%;
  left:28%;
  transform: translate(0, -50%);
  font-size: 4vh;
  color: #000000e0;
}

div.rank-container-2 div.rank-block-10 div.block-pos{
  position:absolute;
  top: 50%;
  right: 10%;
  transform: translate(0, -50%);
  font-size: 4vh;
}

@media screen and (max-width: 1200px) {
  div.rank-container-1 {
    position: relative;
    top: 20vh;
    left: 50%;
    transform: translate(-50%, 0);
    width: 80%;
  }

  div.rank-container-2 {
     position: relative;
     top: 20vh;
    left: 50%;
    transform: translate(-50%, 0);
    width: 80%;
    overflow-y: ;
  }
}