/* Root */
:root {
  --fg-1-100: #EC5929;
  --bg-1-100: #00D4B6;
}
/* /Root */

/* Everything */
*{
  margin: 0;
  padding: 0;
  font-family: 'Varela', sans-serif;
}
/* /Everything */

body{
  width: 100%;
  height: 100%;
  overflow: hidden;
}
/* /Everything */

/* Loader */
div#loader-container {
  position: fixed;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  height: 100vh;
  width: 100%;
  background-color: var(--fg-1-100);
  z-index: +100;
  opacity: 100%;
}

  /* Loader Logo */
div#loader-container div#loader-logo {
  position: absolute;
  top: 50%;
  left: 50%;
  height: 20vh;
  width: 20vh;
  transform: translate(-50%, -50%);
  border-radius: 50%;
  overflow: hidden;
  border: 0.5vh solid var(--bg-1-100);
  box-sizing: border-box;
}

div#loader-container div#loader-logo img {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  height: 100%;
  width: 100%;
}
  /* /Loader Logo */

  /* Loader Items */
div#loader-container div.loader-item {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  height: 7vh;
  width: 7vh;
  box-sizing: border-box;
  border-radius: 50%;
  background-color: var(--bg-1-100);
  box-shadow: 0 0 3vh 1vh white;
}

div#loader-container div#loader-item-1 {
  top: calc(50% - 30vh); /* Side = 30 vh */
  left: 50%;
  animation-name: loader-item-1-anim;
  animation-duration: 2s;
  animation-iteration-count: infinite;
}

div#loader-container div#loader-item-2 {
  top: calc(50% - 9.27vh);
  left: calc(50% - 28.53vh);
  animation-name: loader-item-2-anim;
  animation-duration: 2s;
  animation-iteration-count: infinite;
}

div#loader-container div#loader-item-3 {
  top: calc(50% + 24.27vh);
  left: calc(50% - 17.633vh);
  animation-name: loader-item-3-anim;
  animation-duration: 2s;
  animation-iteration-count: infinite;
}

div#loader-container div#loader-item-4 {
  top: calc(50% + 24.27vh);
  left: calc(50% +  17.633vh);
  animation-name: loader-item-4-anim;
  animation-duration: 2s;
  animation-iteration-count: infinite;
}

div#loader-container div#loader-item-5 {
  top: calc(50% - 9.27vh);
  left: calc(50% + 28.53vh);
  animation-name: loader-item-5-anim;
  animation-duration: 2s;
  animation-iteration-count: infinite;
}

    /* Loader Animation */
@keyframes loader-item-1-anim {
  0% {top: calc(50% - 30vh);left: 50%;}
  20% {top: calc(50% - 9.27vh);left: calc(50% - 28.53vh);}
  40% {top: calc(50% + 24.27vh);left: calc(50% - 17.633vh);}
  60% {top: calc(50% + 24.27vh);left: calc(50% +  17.633vh);}
  80% {top: calc(50% - 9.27vh);left: calc(50% + 28.53vh);}
}

@keyframes loader-item-2-anim {
  0% {top: calc(50% - 9.27vh);left: calc(50% - 28.53vh);}
  20% {top: calc(50% + 24.27vh);left: calc(50% - 17.633vh);}
  40% {top: calc(50% + 24.27vh);left: calc(50% +  17.633vh);}
  60% {top: calc(50% - 9.27vh);left: calc(50% + 28.53vh);}
  80% {top: calc(50% - 30vh);left: 50%;}
}

@keyframes loader-item-3-anim {
  0% {top: calc(50% + 24.27vh);left: calc(50% - 17.633vh);}
  20% {top: calc(50% + 24.27vh);left: calc(50% +  17.633vh);}
  40% {top: calc(50% - 9.27vh);left: calc(50% + 28.53vh);}
  60% {top: calc(50% - 30vh);left: 50%;}
  80% {top: calc(50% - 9.27vh);left: calc(50% - 28.53vh);}
}

@keyframes loader-item-4-anim {
  0% {top: calc(50% + 24.27vh);left: calc(50% +  17.633vh);}
  20% {top: calc(50% - 9.27vh);left: calc(50% + 28.53vh);}
  40% {top: calc(50% - 30vh);left: 50%;}
  60% {top: calc(50% - 9.27vh);left: calc(50% - 28.53vh);}
  80% {top: calc(50% + 24.27vh);left: calc(50% - 17.633vh);}
}

@keyframes loader-item-5-anim {
  0% {top: calc(50% - 9.27vh);left: calc(50% + 28.53vh);}
  20% {top: calc(50% - 30vh);left: 50%;}
  40% {top: calc(50% - 9.27vh);left: calc(50% - 28.53vh);}
  60% {top: calc(50% + 24.27vh);left: calc(50% - 17.633vh);}
  80% {top: calc(50% + 24.27vh);left: calc(50% +  17.633vh);}
}
    /* /Loader Animation */
  /* /Loader Items */
/* /Loader */

/* Navbar */
@media screen and (min-width: 1000px) {
  div.navbar-toggle-on {
    position: absolute;
    top: 55%;
    left: 0;
    transform: translate(0, -50%);
    height: 10vh;
    width: 3vh;
    text-align: center;
    line-height: 10.5vh;
    background-color: var(--fg-1-100);
    border-radius: 0 1.5vh 1.5vh 0;
    box-sizing: border-box;
    border: 0.3vh solid var(--bg-1-100);
    border-left: none;
    cursor:pointer;
    color: var(--bg-1-100);
    box-shadow: 0 0 1vh 0.1vh rgb(125, 125, 125);
    z-index: +3;
  }
  
  div.navbar-toggle-on:hover {
    box-shadow: 0 0 1vh 0.3vh rgb(125, 125, 125);
  }
}

@media screen and (max-width: 1000px) {
  div.navbar-toggle-on {
    position: absolute;
    top: 1vh;
    right: 1vh;
    height: 5vh;
    width: 5vh;
    text-align: center;
    font-size: 4.4vh;
    line-height: 5.55vh;
    color: var(--bg-1-100);
  }
}

div#navbar-container {
  position: absolute;
  top: 57.5%;
  left: 0;
  height: 75%;
  width: 0;
  transform: translate(0, -50%);
  background-color: rgba(0, 214, 186, 0.8);
  z-index: +3;
  display: none;
  box-shadow: 0 0 1vh 0.2vh rgb(73, 73, 73);
  border-right: 0.2vh solid var(--bg-1-100);
  border-radius: 0 2vh 2vh 0;
}

@media screen and (max-width: 1000px) {
  div#navbar-container {
    top: 50%;
    left: 0;
    height: 100%;
    width: 0;
    transform: translate(0, -50%);
    border-radius: 0;
    background-color: rgba(0, 214, 186, 0.9);
  }
}

@media screen and (min-width: 1000px) {
  div#navbar-container div.navbar-toggle-off {
    position: absolute;
    top: 50%;
    right: 0;
    transform: translate(0, -50%);
    height: 10vh;
    width: 3vh;
    text-align: center;
    line-height: 10.5vh;
    background-color: var(--fg-1-100);
    border-radius: 1.5vh 0 0 1.5vh;
    box-sizing: border-box;
    border: 0.3vh solid var(--bg-1-100);
    border-right: none;
    cursor: pointer;
    color: var(--bg-1-100);
    box-shadow: 0 0 1vh 0.1vh rgb(125, 125, 125);
    z-index: +4;
  }
}

@media screen and (max-width: 1000px) {
  div.navbar-toggle-off {
    position: absolute;
    top: 1vh;
    right: 1vh;
    height: 5vh;
    width: 5vh;
    text-align: center;
    font-size: 4.4vh;
    line-height: 5.55vh;
    color: var(--bg-1-100);
    border-radius: 1vh 1vh 1vh 1vh;
  }
  div.navbar-toggle-off:hover {
    background-color: rgba(236, 90, 41, 0.774);
    color: var(--fg-1-100);
  }
}

@media screen and (min-width: 1000px) {
  div#navbar-toggle-mob-on, div#navbar-toggle-mob-off {
    display: none;
  }
}

@media screen and (max-width: 1000px) {
  div#navbar-toggle-pc-on, div#navbar-toggle-pc-off {
    display: none;
  }
}

div#navbar-container div#menu-container {
  position: absolute;
  top: 50%;
  left: 48%;
  width: 85%;
  height: auto;
  transform: translate(-50%, -50%);
  display: flex;
  flex-wrap: wrap;
  flex-direction: column;
  justify-content: space-between;
  opacity: 0;
}

div#menu-container a {
  text-decoration: none;
  font-size: 2.7vh;
  padding: 0.2vh;
  color: var(--bg-1-100);
  text-transform: uppercase;
}

div#navbar-container div.menu-items {
  position: relative;
  background-color: rgba(255, 255, 255, 0.815);
  padding: 2vh 5vh;
  box-sizing: border-box;
  border-radius: 1.5vh 1.5vh 1.5vh 1.5vh;
  box-sizing: border-box;
  border: 0.2vh solid rgba(236, 90, 41, 0.58);
  width: 100%;
  left: 50%;
  transform: translate(-50%, 0);
  text-align: center;
}

div#navbar-container div.active {
  background-color: rgba(255, 112, 17, 0.9);
  color: rgba(255, 255, 255, 0.815);
}

div#menu-container div.menu-items:hover {
  background-color: rgb(255, 112, 17);
  transition: 0.2s ease;
  box-shadow: 0 0 1.5vh 0.2vh rgb(255, 252, 252);
  color: rgba(255, 255, 255, 0.815);
}
/* /Navbar */

/* ProfileInfo */
a#profile-redirect {
  text-decoration: none;
  color: black;
}

div#profile-info {
  position: absolute;
  top: 1vh;
  left: 1vh;
  height: 17.5vh;
  width: 17.5vh;
  background-color: var(--fg-1-100);
  box-sizing: border-box;
  border: 0.25vh solid var(--bg-1-100);
  border-radius: 1.5vh;
}

@media screen and (min-width: 1000px) {
  
  div#profile-info:hover {
    box-shadow: 0 0 1vh 0.1vh rgb(125, 125, 125);
    transition-duration: 0.2s;
    transition-timing-function: ease-in;
    width: 57.5vh;
  }
}
@media screen and (max-width: 1000px) {
  
  div#profile-info {
    height: 12.5vh;
    width: 47.5vh;
  }
}
  /* Profile Pic */
div#profile-info div#profile-pic {
  position: absolute;
  top: 50%;
  left: 8.5vh;
  transform: translate(-50%, -50%);
  height: 80%;
  width: calc(17.5vh * 8 / 10);
  box-sizing: border-box;
  border: 0.25vh solid var(--bg-1-100);
  border-radius: 50%;
  overflow: hidden;
}

div#profile-info div#profile-pic img {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  height: 100%;
  width: 100%;
}

@media screen and (max-width: 1000px) {
  div#profile-info div#profile-pic {
    left: 6.1vh;
    height: 80%;
    width: calc(12.5vh * 8 / 10);
  }
}

  /* Profile Info Details*/
div#profile-info div#profile-info-details {
  position: absolute;
  top: 50%;
  left: 17.5vh;
  transform: translate(0, -50%);
  background-color: rgba(255, 255, 255, 0.9);
  height: 90%;
  width: calc((57.5vh - 17.5vh)*(95 / 100));
  box-sizing: border-box;
  padding-top: 1vh;
  padding-left: 1vh;
  opacity: 0;
  border-radius: 1.5vh;
  box-shadow: 0 0 0.5vh 0.2vh rgb(125, 125, 125);
  font-size: 2.5vh;
  display: flex;
  flex-direction: column;
  justify-content: space-around;
}

@media screen and (min-width: 1000px) {
  div#profile-info:hover div#profile-info-details {
    transition-delay: 0.2s;
    transition-duration: 0.2s;
    transition-timing-function: ease-in;
    opacity: 100%;
  }
}

@media screen and (max-width: 1000px) {
  div#profile-info div#profile-info-details {
    font-size: 1.75vh;
    left: 12.5vh;
    width: calc((47.5vh - 12.5vh)*(95 / 100));
    opacity: 100%;
  }
}
@media screen and (max-width: 1000px) {
  div#profile-info div#profile-info-details {
    transition-delay: 0.2s;
    transition-duration: 0.2s;
    transition-timing-function: ease-in;
    opacity: 100%;
  }
}

    /* Progress bar*/
div#profile-info div#profile-info-details div#progress-bar-total {
  position: relative;
  height: 0.5vh;
  width: 95%;
  background-color: rgb(175, 175, 175);
}

div#profile-info div#profile-info-details div#progress-bar-total div#progress-bar-done {
  position: absolute;
  top: 50%;
  left: 0;
  transform: translate(0, -50%);
  height: 100%;
  width: calc(100% * (4123/5000));
  background-color: var(--bg-1-100);
}

div#profile-info div#profile-info-details div#xp-count {
  position: relative;
  text-align: right;
  padding-right: 1vh;
}
    /* /Progress Bar */
  /* /Profile Info Details*/
/* /ProfileInfo */

/* Map */
div#map-container {
  position: absolute;
  top: 0;
  left: 0;
  height: 100vh;
  width: 100%;
  z-index: -1;
}

div#map-container iframe {
  position: absolute;
  top: 0;
  left: 0;
  height: 100%;
  width: 100%;
}
/* /Map */

/* Info */
div#info-container {
  position: absolute;
  top: 50%;
  right: 2.5%;
  transform: translate(0, -50%);
  height: 95%;
  width: 35%;
  box-sizing: border-box;
  border: 0.3vh solid var(--bg-1-100);
  border-radius: 1.5vh;
  background-color: rgba(0, 212, 184, 0.8);
  box-shadow: 0 0 0.5vh 0.2vh rgb(125, 125, 125);
}

@media screen and (max-width: 1000px) {
  div#info-container {
    top: 45%;
    left: 50%;
    transform: translate(-50%, 0);
    height: 55%;
    width: 100%;
    border-radius: 0.75vh 0.75vh 0 0;
    border: 0 solid var(--bg-1-100);
    border-top: 0.3vh solid var(--bg-1-100);
    overflow-y: scroll;
  }
}

div#info-container div#info-title {
  position: absolute;
  top: 1%;
  left: 2%;
  width: 85%;
  height: 7.8%;
  border-radius: 1.5vh;
  background-color: rgba(255, 255, 255, 0.9);
  border: 0.3vh solid var(--bg-1-100);
  box-sizing: border-box;
  padding: 2vh;
  font-size: 3vh;
  line-height: 3vh;
  font-family: 'Poppins', sans-serif;
  text-transform: uppercase;
}

@media screen and (max-width: 1000px) {
  div#info-container div#info-title {
    top: 2.5%;
    left: 2%;
    width: 85%;
    height: 7.8%;
    line-height: 0.3vh;
    font-size: 2.75vh;
  }
}

div#info-container div#info-close {
  position: absolute;
  top: 5.125%;
  right: 2.5vh;
  transform: translate(0, -50%);
  color: var(--bg-1-100);
  height: 4vh;
  width: 4vh;
  text-align: center;
  font-size: 3vh;
  line-height: 4.2vh;
  cursor: pointer;
  border-radius: 50%;
}

@media screen and (max-width: 1000px) {
  div#info-container div#info-close {
    top: 6%;
    right: 3vh;
    width: 4vh;
    height: 4vh;
  }
}


div#info-container div#info-close:hover {
  background-color: white;
  transition-duration: 0.3s;
}

div#info-container div#info-pic {
  position: absolute;
  top: 10%;
  left: 50%;
  width: 95%;
  height: 40%;
  transform: translate(-50%, 0);
  border-radius: 1.5vh;
  background-color: rgba(255, 255, 255, 0.9);
  border: 0.3vh solid var(--bg-1-100);
  overflow: hidden;
}

div#info-container div#info-pic img {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  height: 100%;
  width: auto;
}

@media screen and (max-width: 1000px) {
  div#info-container div#info-pic {
    top: 12.5%;
  }

  div#info-container div#info-pic img {
    width: 100%;
    height: auto;
  }
}

div#info-container div#info-details {
  position: absolute;
  top: 52.5%;
  left: 50%;
  width: 95%;
  transform: translate(-50%, 0);
  border-radius: 1.5vh;
  background-color: rgba(255, 255, 255, 0.9);
  border: 0.3vh solid var(--bg-1-100);
  box-sizing: border-box;
  padding: 2vh;
  text-align: justify;
  font-size: 2.3vh;
}

@media screen and (min-width: 1000px) {
  div#info-container div#info-details {
    height: 45%;
    overflow-y: scroll;
  }
}

@media screen and (max-width: 1000px) {
  div#info-container div#info-details {
    top: 56.5%;
    height: auto;
  }
}
/* /Info */