/* Everything */
* {
  padding: 0;
  margin: 0;
  font-family: 'Varela', sans-serif;
}

body{
  width: 100%;
  height: 100%;
  overflow: hidden;
}
/* /Everything */

/* Loader */
div#loader-container {
  position: fixed;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  height: 100vh;
  width: 100%;
  background-color: purple;
  z-index: +100;
  opacity: 100%;
}

div#loader-container div#loader-logo {
  position: absolute;
  top: 50%;
  left: 50%;
  height: 35vh;
  width: 35vh;
  transform: translate(-50%, -50%);
  border-radius: 50%;
  overflow: hidden;
  border: 0.2vh solid white;
  box-sizing: border-box;
}

div#loader-container div#loader-logo img {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  height: 100%;
  width: 100%;
}

div#loader-container div.loader-item {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  height: 7vh;
  width: 7vh;
  box-sizing: border-box;
  border: 0.2vh solid white;
  border-radius: 50%;
  background-color: red;
}

  /* Side = 30%*/

div#loader-container div#loader-item-1 {
  top: calc(50% - 30vh);
  left: 50%;
  animation-name: loader-item-1-anim;
  animation-duration: 5s;
  animation-iteration-count: infinite;
}

div#loader-container div#loader-item-2 {
  top: calc(50% - 9.27vh);
  left: calc(50% - 28.53vh);
  animation-name: loader-item-2-anim;
  animation-duration: 5s;
  animation-iteration-count: infinite;
}

div#loader-container div#loader-item-3 {
  top: calc(50% + 24.27vh);
  left: calc(50% - 17.633vh);
  animation-name: loader-item-3-anim;
  animation-duration: 5s;
  animation-iteration-count: infinite;
}

div#loader-container div#loader-item-4 {
  top: calc(50% + 24.27vh);
  left: calc(50% +  17.633vh);
  animation-name: loader-item-4-anim;
  animation-duration: 5s;
  animation-iteration-count: infinite;
}

div#loader-container div#loader-item-5 {
  top: calc(50% - 9.27vh);
  left: calc(50% + 28.53vh);
  animation-name: loader-item-5-anim;
  animation-duration: 5s;
  animation-iteration-count: infinite;
}

  /* Animation */
@keyframes loader-item-1-anim {
  0% {top: calc(50% - 30vh);left: 50%;}
}
  /* /Animation */
/* /Loader */

/* Navbar */
div#navbar-toggle-on {
  position: absolute;
  top: 50%;
  left: 0;
  transform: translate(0, -50%);
  height: 8vh;
  width: 3vh;
  text-align: center;
  line-height: 7.8vh;
  background-color: #a1f8ed;
  border-radius: 0 1vh 1vh 0;
  box-sizing: border-box;
  border: 0.3vh solid #EC5929;
  border-left: none;
  cursor:pointer;
  color: #EC5929;
  box-shadow: 0 0 10px 1px rgb(125, 125, 125);
  z-index: +3;
}

div#navbar-toggle-on:hover {
  box-shadow: 0 0 5px 3px rgb(125, 125, 125);
}

div#navbar-container {
  position: absolute;
  top: 50%;
  left: 0;
  height: 100%;
  width: 0;
  transform: translate(0, -50%);
  background-color: #00D4B6;
  z-index: +3;
  display: none;
}

div#navbar-container div#navbar-toggle-off {
  position: absolute;
  top: 50%;
  right: 0;
  transform: translate(0, -50%);
  height: 10vh;
  width: 4vh;
  text-align: center;
  line-height: 10.5vh;
  background-color: #00D4B6;
  border-radius: 1.5vh 0 0 1.5vh;
  box-sizing: border-box;
  border: 0.3vh solid #EC5929;
  border-right: none;
  cursor: pointer;
  color: #EC5929;
  box-shadow: 0 0 10px 1px rgb(125, 125, 125);
  z-index: +4;
}

div#navbar-container div.menu-container {
  position: absolute;
  top: 70%;
  left: 50%;
  transform: translate(-50%, -50%);
}

div#navbar-container div.menu-items {
  position: relative;
  top: 10vh;
}
/* /Navbar */

/* ProfileInfo */
a#profile-redirect {
  text-decoration: none;
  color: black;
}


div#profile-info {
  position: absolute;
  top: 7.25px;
  left: 7.25px;
  height: 122px;
  width: 122px;
  background-color: #00D4B6;
  box-sizing: border-box;
  border: 0.25vh solid #EC5929;
  border-radius: 1.5vh;
}

div#profile-info:hover {
  box-shadow: 0 0 5px 3px rgb(125, 125, 125);
  transition-duration: 0.2s;
  transition-timing-function: ease-in;
  width: 400px;
}

div#profile-info div#profile-pic {
  position: absolute;
  top: 50%;
  left: 61px;
  transform: translate(-50%, -50%);
  height: 80%;
  width: calc(122px * 8 / 10);
  box-sizing: border-box;
  border: 0.25vh solid #EC5929;
  border-radius: 50%;
  overflow: hidden;
}

div#profile-info div#profile-pic img {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  height: 100%;
  width: 100%;
}

div#profile-info div#profile-info-details {
  position: absolute;
  top: 50%;
  left: 122px;
  transform: translate(0, -50%);
  background-color: rgba(255, 255, 255, 0.9);
  height: 90%;
  width: calc((400px - 122px)*(95 / 100));
  box-sizing: border-box;
  padding-top: 10px;
  padding-left: 10px;
  opacity: 0;
  border-radius: 1.5vh;
  box-shadow: 0 0 5px 2px rgb(125, 125, 125);
}

div#profile-info:hover div#profile-info-details {
  transition-delay: 0.2s;
  transition-duration: 0.2s;
  transition-timing-function: ease-in;
  opacity: 100%;
}

div#profile-info div#profile-info-details div#progress-bar-total {
  position: absolute;
  top: 70%;
  left: 50%;
  transform: translate(-50%, 0);
  height: 5px;
  width: 95%;
  background-color: rgb(175, 175, 175);
}

div#profile-info div#profile-info-details div#progress-bar-total div#progress-bar-done {
  position: absolute;
  top: 50%;
  left: 0;
  transform: translate(0, -50%);
  height: 100%;
  width: calc(100% * (4123/5000));
  background-color: #EC5929;
}

div#profile-info div#profile-info-details div#xp-count {
  position: absolute;
  bottom: 5px;
  right: 10px;
}
/* /ProfileInfo */

/* Map */
div#map-container {
  position: absolute;
  top: 0;
  left: 0;
  height: 100vh;
  width: 100%;
  z-index: -1;
}

div#map-container iframe {
  position: absolute;
  top: 0;
  left: 0;
  height: 100%;
  width: 100%;
}
/* /Map */

/* Info */
div#info-container {
  position: absolute;
  top: 50%;
  right: 2.5%;
  transform: translate(0, -50%);
  height: 95%;
  width: 35%;
  box-sizing: border-box;
  border: 0.3vh solid #EC5929;
  border-radius: 1.5vh;
  background-color: rgba(0, 212, 184, 0.8);
  box-shadow: 0 0 5px 2px rgb(125, 125, 125);
}

div#info-container div#info-title {
  position: absolute;
  top: 1%;
  left: 2%;
  width: 85%;
  height: 7.8%;
  border-radius: 1.5vh;
  background-color: rgba(255, 255, 255, 0.9);
  border: 0.3vh solid #EC5929;
  box-sizing: border-box;
  padding: 15px;
  font-size: 1.5rem;
  line-height: 3vh;
  font-family: 'Poppins', sans-serif;
}

div#info-container div#info-close {
  position: absolute;
  top: 5.125%;
  right: 2.5vh;
  transform: translate(0, -50%);
  color: #EC5929;
  height: 4vh;
  width: 4vh;
  text-align: center;
  font-size: 1.5rem;
  line-height: 4.2vh;
  cursor: pointer;
  border-radius: 50%;
}

div#info-container div#info-close:hover {
  background-color: white;
  transition-duration: 0.3s;
}

div#info-container div#info-pic {
  position: absolute;
  top: 10%;
  left: 50%;
  width: 95%;
  height: 40%;
  transform: translate(-50%, 0);
  border-radius: 1.5vh;
  background-color: rgba(255, 255, 255, 0.9);
  border: 0.3vh solid #EC5929;
  overflow: hidden;
}

div#info-container div#info-pic img {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  height: 100%;
  width: auto;
}

div#info-container div#info-details {
  position: absolute;
  top: 52.5%;
  left: 50%;
  width: 95%;
  height: 45%;
  transform: translate(-50%, 0);
  border-radius: 1.5vh;
  background-color: rgba(255, 255, 255, 0.9);
  border: 0.3vh solid #EC5929;
  overflow-y: scroll;
  box-sizing: border-box;
  padding: 15px;
  text-align: justify;
  font-size: 1.1rem;
}
/* /Info */