/* Root */
:root {
  --fg-1-100: #EC5929;
  --bg-1-100: rgba(36, 36, 36, 1);
  --pbg:rgba(36, 36, 36, 0.411);
  --fc: #EC5929;
}
/* /Root */

/* Everything */
*{
  margin: 0;
  padding: 0;
  text-decoration: none;
  font-family: 'Rubik', sans-serif;
}
/* /Everything */

/* Loader */
div#loader-container {
  position: fixed;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  height: 100vh;
  width: 100%;
  background-color: rgba(36, 36, 36, 1);
  z-index: +100;
  opacity: 100%;
}

  /* Loader Logo */
div#loader-container div#loader-logo {
  position: absolute;
  top: 50%;
  left: 50%;
  height: 20vh;
  width: 20vh;
  transform: translate(-50%, -50%);
  border-radius: 50%;
  overflow: hidden;
  border: 0.5vh solid var(--fg-1-100);
  box-sizing: border-box;
}

div#loader-container div#loader-logo img {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  height: 100%;
  width: 100%;
}
  /* /Loader Logo */

  /* Loader Items */
div#loader-container div.loader-item {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  height: 7vh;
  width: 7vh;
  box-sizing: border-box;
  border-radius: 50%;
  background-color: var(--fg-1-100);
  box-shadow: 0 0 1vh 0.5vh white;
}

div#loader-container div#loader-item-1 {
  top: calc(50% - 30vh); /* Side = 30 vh */
  left: 50%;
  animation-name: loader-item-1-anim;
  animation-duration: 2s;
  animation-iteration-count: infinite;
}

div#loader-container div#loader-item-2 {
  top: calc(50% - 9.27vh);
  left: calc(50% - 28.53vh);
  animation-name: loader-item-2-anim;
  animation-duration: 2s;
  animation-iteration-count: infinite;
}

div#loader-container div#loader-item-3 {
  top: calc(50% + 24.27vh);
  left: calc(50% - 17.633vh);
  animation-name: loader-item-3-anim;
  animation-duration: 2s;
  animation-iteration-count: infinite;
}

div#loader-container div#loader-item-4 {
  top: calc(50% + 24.27vh);
  left: calc(50% +  17.633vh);
  animation-name: loader-item-4-anim;
  animation-duration: 2s;
  animation-iteration-count: infinite;
}

div#loader-container div#loader-item-5 {
  top: calc(50% - 9.27vh);
  left: calc(50% + 28.53vh);
  animation-name: loader-item-5-anim;
  animation-duration: 2s;
  animation-iteration-count: infinite;
}

    /* Loader Animation */
@keyframes loader-item-1-anim {
  0% {top: calc(50% - 30vh);left: 50%;}
  20% {top: calc(50% - 9.27vh);left: calc(50% - 28.53vh);}
  40% {top: calc(50% + 24.27vh);left: calc(50% - 17.633vh);}
  60% {top: calc(50% + 24.27vh);left: calc(50% +  17.633vh);}
  80% {top: calc(50% - 9.27vh);left: calc(50% + 28.53vh);}
}

@keyframes loader-item-2-anim {
  0% {top: calc(50% - 9.27vh);left: calc(50% - 28.53vh);}
  20% {top: calc(50% + 24.27vh);left: calc(50% - 17.633vh);}
  40% {top: calc(50% + 24.27vh);left: calc(50% +  17.633vh);}
  60% {top: calc(50% - 9.27vh);left: calc(50% + 28.53vh);}
  80% {top: calc(50% - 30vh);left: 50%;}
}

@keyframes loader-item-3-anim {
  0% {top: calc(50% + 24.27vh);left: calc(50% - 17.633vh);}
  20% {top: calc(50% + 24.27vh);left: calc(50% +  17.633vh);}
  40% {top: calc(50% - 9.27vh);left: calc(50% + 28.53vh);}
  60% {top: calc(50% - 30vh);left: 50%;}
  80% {top: calc(50% - 9.27vh);left: calc(50% - 28.53vh);}
}

@keyframes loader-item-4-anim {
  0% {top: calc(50% + 24.27vh);left: calc(50% +  17.633vh);}
  20% {top: calc(50% - 9.27vh);left: calc(50% + 28.53vh);}
  40% {top: calc(50% - 30vh);left: 50%;}
  60% {top: calc(50% - 9.27vh);left: calc(50% - 28.53vh);}
  80% {top: calc(50% + 24.27vh);left: calc(50% - 17.633vh);}
}

@keyframes loader-item-5-anim {
  0% {top: calc(50% - 9.27vh);left: calc(50% + 28.53vh);}
  20% {top: calc(50% - 30vh);left: 50%;}
  40% {top: calc(50% - 9.27vh);left: calc(50% - 28.53vh);}
  60% {top: calc(50% + 24.27vh);left: calc(50% - 17.633vh);}
  80% {top: calc(50% + 24.27vh);left: calc(50% +  17.633vh);}
}
    /* /Loader Animation */
  /* /Loader Items */
/* /Loader */

/* Navbar */
div#navbar-toggle-on {
	position: absolute;
	top: 1vh;
	left: 1vh;
	height: 5vh;
	width: 5vh;
	text-align: center;
	font-size: 5vh;
	line-height: 5vh;
	z-index: +2;
	color: var(--fg-1-100);
}

div#navbar-container {
  position: fixed;
	top: 50%;
	left: 0;
	transform: translate(-100%, -50%);
	height: 100%;
  width: 30%;
  box-sizing: border-box;
	background-color: rgba(36, 36, 36, 0.9);
	z-index: +3;
	box-shadow: 0 0 0.8vh 0.2vh rgb(0, 0, 0);
	border-right: 0.2vh solid var(--fg-1-100);
}

@media screen and (max-width: 1000px) {
	div#navbar-container {
		width: 100%;
		transform: translate(-100%, -50%);
		border-radius: 0;
	}
}

div#navbar-container div#navbar-toggle-off {
	position: absolute;
	top: 1vh;
	left: 1vh;
	height: 5vh;
	width: 5vh;
	text-align: center;
	font-size: 5vh;
	line-height: 5vh;
	z-index: +3;
	color: var(--fg-1-100);
}

div#navbar-container div#menu-container {
	position: absolute;
	top: 10%;
	left: 50%;
	transform: translate(-50%, 0);
	height: auto;
  width: 90%;
  box-sizing: border-box;
	display: flex;
	flex-direction: column;
  justify-content: space-between;
  font-size: 3vh;
}

div#menu-container div.menu-items {
  position: relative;
  background-color: rgba(255, 255, 255, 0.815);
  padding: 2vh 5vh;
  box-sizing: border-box;
  border-radius: 1.5vh 1.5vh 1.5vh 1.5vh;
  border: 0.25vh solid rgba(236, 90, 41, 0.58);
  width: 100%;
  left: 47.5%;
  transform: translate(-50%, 0);
  text-align: center;
  text-transform: uppercase;
  margin: 1vh;
  color: var(--fg-1-100);
}

div#navbar-container div.active {
  background-color: rgba(255, 112, 17, 0.9);
  color: rgba(255, 255, 255, 0.815);
}

div#menu-container div.menu-items:hover {
  background-color:var(--fg-1-100);
  color: white;
  transition-duration: 0.15s;
  box-shadow: white;
  box-shadow: 0 0 1vh 0.1vh var(--fg-1-100);
}
/* Navbar */

/* Profile */
body {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  align-content: space-between;
}

div#profile-bg-img {
  position: fixed;
  overflow: hidden;
  width: 100%;
  height: 100vh;
  z-index: -3;
}

div#profile-bg-img div#bg-img-tint {
  position: absolute;
  background-color: rgba(39, 40, 34, 0.432);
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  width: 100%;
  height: 100%;
  z-index: +1;
}

div#profile-bg-img div#bg-img {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  width: 100%;
  height: 100%;
}

div#profile-bg-img div#bg-img img {
  position: absolute;
  object-fit: cover;
  height: 100vh;
  width: 100%;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}

@media screen and (min-width: 1200px) {
  div#profile-bg-img div#bg-img img {
    width: 100%;
  }
}

@media screen and (max-width: 1200px) {
  div#profile-bg-img div#bg-img img {
    height: 100%;
  }
}

div#travelog-logo {
  position: absolute;
  height: 8vh;
  width: 100%;
  left: 50%;
  top: 1vh;
  transform: translate(-50%, 0);
  overflow: hidden;
  text-align: center;
}

div#travelog-logo img{
  height: 9vh;
  width: auto;
  transition: 0.2s;
}

@media screen and (max-width: 500px){
  div#travelog-logo img{
    height: 7vh;
  }
}
/*
@media screen and (max-width: 1200px) {
  div#travelog-logo img {
    width: 100%;
  }
}

@media screen and (min-width: 1200px) {
  div#travelog-logo img {
    height: 100%;
  }
}*/

/*No plans message*/

div#no_plans_msg{
  position: fixed;
  left: 50%;
  top: 50%;
  transform: translate( -50%, -50%);
  text-align: center;
}

div#no_plans_msg h2{
  font-weight: 200;
  text-align: center;
  font-size: 5vh;
  color: rgba(255, 255, 255, 0.438);
}

@media screen and (max-width: 500px){
  div#no_plans_msg h2{
    font-size: 4vh;
  }
}
/*No plans message*/