/* Root */
:root {
  --fg-1-100: #EC5929;
  --bg-1-100: rgba(36, 36, 36, 1);
  --pbg:rgba(36, 36, 36, 0.411);
  --fc: #EC5929;
}
/* /Root */

/* Everything */
*{
  margin: 0;
  padding: 0;
  text-decoration: none;
  font-family: 'Rubik', sans-serif;
}
/* /Everything */

/* Loader */
div#loader-container {
  position: fixed;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  height: 100vh;
  width: 100%;
  background-color: rgba(36, 36, 36, 1);
  z-index: +100;
  opacity: 100%;
}

  /* Loader Logo */
div#loader-container div#loader-logo {
  position: absolute;
  top: 50%;
  left: 50%;
  height: 20vh;
  width: 20vh;
  transform: translate(-50%, -50%);
  border-radius: 50%;
  overflow: hidden;
  border: 0.5vh solid var(--fg-1-100);
  box-sizing: border-box;
}

div#loader-container div#loader-logo img {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  height: 100%;
  width: 100%;
}
  /* /Loader Logo */

  /* Loader Items */
div#loader-container div.loader-item {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  height: 7vh;
  width: 7vh;
  box-sizing: border-box;
  border-radius: 50%;
  background-color: var(--fg-1-100);
  box-shadow: 0 0 1vh 0.5vh white;
}

div#loader-container div#loader-item-1 {
  top: calc(50% - 30vh); /* Side = 30 vh */
  left: 50%;
  animation-name: loader-item-1-anim;
  animation-duration: 2s;
  animation-iteration-count: infinite;
}

div#loader-container div#loader-item-2 {
  top: calc(50% - 9.27vh);
  left: calc(50% - 28.53vh);
  animation-name: loader-item-2-anim;
  animation-duration: 2s;
  animation-iteration-count: infinite;
}

div#loader-container div#loader-item-3 {
  top: calc(50% + 24.27vh);
  left: calc(50% - 17.633vh);
  animation-name: loader-item-3-anim;
  animation-duration: 2s;
  animation-iteration-count: infinite;
}

div#loader-container div#loader-item-4 {
  top: calc(50% + 24.27vh);
  left: calc(50% +  17.633vh);
  animation-name: loader-item-4-anim;
  animation-duration: 2s;
  animation-iteration-count: infinite;
}

div#loader-container div#loader-item-5 {
  top: calc(50% - 9.27vh);
  left: calc(50% + 28.53vh);
  animation-name: loader-item-5-anim;
  animation-duration: 2s;
  animation-iteration-count: infinite;
}

    /* Loader Animation */
@keyframes loader-item-1-anim {
  0% {top: calc(50% - 30vh);left: 50%;}
  20% {top: calc(50% - 9.27vh);left: calc(50% - 28.53vh);}
  40% {top: calc(50% + 24.27vh);left: calc(50% - 17.633vh);}
  60% {top: calc(50% + 24.27vh);left: calc(50% +  17.633vh);}
  80% {top: calc(50% - 9.27vh);left: calc(50% + 28.53vh);}
}

@keyframes loader-item-2-anim {
  0% {top: calc(50% - 9.27vh);left: calc(50% - 28.53vh);}
  20% {top: calc(50% + 24.27vh);left: calc(50% - 17.633vh);}
  40% {top: calc(50% + 24.27vh);left: calc(50% +  17.633vh);}
  60% {top: calc(50% - 9.27vh);left: calc(50% + 28.53vh);}
  80% {top: calc(50% - 30vh);left: 50%;}
}

@keyframes loader-item-3-anim {
  0% {top: calc(50% + 24.27vh);left: calc(50% - 17.633vh);}
  20% {top: calc(50% + 24.27vh);left: calc(50% +  17.633vh);}
  40% {top: calc(50% - 9.27vh);left: calc(50% + 28.53vh);}
  60% {top: calc(50% - 30vh);left: 50%;}
  80% {top: calc(50% - 9.27vh);left: calc(50% - 28.53vh);}
}

@keyframes loader-item-4-anim {
  0% {top: calc(50% + 24.27vh);left: calc(50% +  17.633vh);}
  20% {top: calc(50% - 9.27vh);left: calc(50% + 28.53vh);}
  40% {top: calc(50% - 30vh);left: 50%;}
  60% {top: calc(50% - 9.27vh);left: calc(50% - 28.53vh);}
  80% {top: calc(50% + 24.27vh);left: calc(50% - 17.633vh);}
}

@keyframes loader-item-5-anim {
  0% {top: calc(50% - 9.27vh);left: calc(50% + 28.53vh);}
  20% {top: calc(50% - 30vh);left: 50%;}
  40% {top: calc(50% - 9.27vh);left: calc(50% - 28.53vh);}
  60% {top: calc(50% + 24.27vh);left: calc(50% - 17.633vh);}
  80% {top: calc(50% + 24.27vh);left: calc(50% +  17.633vh);}
}
    /* /Loader Animation */
  /* /Loader Items */
/* /Loader */

/* Navbar */
div#navbar-toggle-on {
	position: absolute;
	top: 1vh;
	left: 1vh;
	height: 5vh;
	width: 5vh;
	text-align: center;
	font-size: 5vh;
	line-height: 5vh;
	z-index: +2;
	color: var(--fg-1-100);
}

div#navbar-container {
  position: fixed;
	top: 50%;
	left: 0;
	transform: translate(-100%, -50%);
	height: 100%;
  width: 30%;
  box-sizing: border-box;
	background-color: rgba(36, 36, 36, 0.9);
	z-index: +3;
	box-shadow: 0 0 0.8vh 0.2vh rgb(0, 0, 0);
	border-right: 0.2vh solid var(--fg-1-100);
}

@media screen and (max-width: 1000px) {
	div#navbar-container {
		width: 100%;
		transform: translate(-100%, -50%);
		border-radius: 0;
	}
}

div#navbar-container div#navbar-toggle-off {
	position: absolute;
	top: 1vh;
	left: 1vh;
	height: 5vh;
	width: 5vh;
	text-align: center;
	font-size: 5vh;
	line-height: 5vh;
	z-index: +3;
	color: var(--fg-1-100);
}

div#navbar-container div#menu-container {
	position: absolute;
	top: 10%;
	left: 50%;
	transform: translate(-50%, 0);
	height: auto;
  width: 90%;
  box-sizing: border-box;
	display: flex;
	flex-direction: column;
  justify-content: space-between;
  font-size: 3vh;
}

div#menu-container div.menu-items {
  position: relative;
  background-color: rgba(255, 255, 255, 0.815);
  padding: 2vh 5vh;
  box-sizing: border-box;
  border-radius: 1.5vh 1.5vh 1.5vh 1.5vh;
  border: 0.25vh solid rgba(236, 90, 41, 0.58);
  width: 100%;
  left: 47.5%;
  transform: translate(-50%, 0);
  text-align: center;
  text-transform: uppercase;
  margin: 1vh;
  color: var(--fg-1-100);
}

div#navbar-container div.active {
  background-color: rgba(255, 112, 17, 0.9);
  color: rgba(255, 255, 255, 0.815);
}

div#menu-container div.menu-items:hover {
  background-color:var(--fg-1-100);
  color: white;
  transition-duration: 0.15s;
  box-shadow: white;
  box-shadow: 0 0 1vh 0.1vh var(--fg-1-100);
}
/* Navbar */

/* Profile */
body {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  align-content: space-between;
}

div#profile-bg-img {
  position: fixed;
  overflow: hidden;
  width: 100%;
  height: 100vh;
  z-index: -3;
}

div#profile-bg-img div#bg-img-tint {
  position: absolute;
  background-color: rgba(39, 40, 34, 0.432);
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  width: 100%;
  height: 100%;
  z-index: +1;
}

div#profile-bg-img div#bg-img {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  width: 100%;
  height: 100%;
}

div#profile-bg-img div#bg-img img {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}

@media screen and (min-width: 1200px) {
  div#profile-bg-img div#bg-img img {
    width: 100%;
  }
}

@media screen and (max-width: 1200px) {
  div#profile-bg-img div#bg-img img {
    height: 100%;
  }
}

div#travelog-logo {
  position: absolute;
  height: 8vh;
  width: 20%;
  left: 50%;
  top: 2vh;
  transform: translate(-50%, 0);
  overflow: hidden;
}

@media screen and (max-width: 1200px) {
  div#travelog-logo img {
    width: 100%;
  }
}

@media screen and (min-width: 1200px) {
  div#travelog-logo img {
    height: 100%;
  }
}
div#profile-items-container {
  position: absolute;
  height: auto;
  width: 80%;
  display: flex;
  flex-wrap: wrap;
  justify-content: space-around;
  align-content: space-around;
  justify-content: space-around;
}

div#profile-items-container div.profile-items {
  position: relative;
  margin: 1vh 0;
  box-sizing: border-box;
}

div#profile-items-container div.profile-items:hover {
  box-shadow: 0 0 0.5vh 0.1vh white;
  transition-duration: 0.4s;
}

@media screen and (min-width: 1200px) {
  div#profile-items-container {
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    flex-wrap: wrap;
    align-content: space-around;
  }
}
  
@media screen and (max-width: 1200px) {
  div#profile-items-container {
    top: 20%;
    left: 50%;
    width: 90%;
    transform: translate(-50%, 0);
    flex-direction: column;
    flex-wrap: wrap;
  }

  div#profile-items-container div.profile-items {
    width: 100%;
  }
}

div#profile-info {
  height: 42vh;
  width: 60%;
  background-color: var(--pbg);
  border-radius: 1vh 0 0 0;
}

@media screen and (max-width: 1200px) {
  div#profile-info {
    height: 52vh;
  }
}

@media screen and (min-width: 1200px) {
  div#profile-info {
    border-top: 0.1vh solid rgba(255, 255, 255, 0.5);
    border-left: 0.1vh solid rgba(255, 255, 255, 0.5)
  }
}

div#profile-info div#profile-container {
  position: absolute;
  left: 0;
  padding: 1vh;
  font-size: 3.3vh;
  color: var(--fc);
  border: 0.22vh solid white;
  box-sizing: border-box;
  margin-top: 1vh;
  margin-left: 1vh;
  border-radius: 0.5vh 0.5vh ;
}

div#profile-info div#profile-name {
  position: absolute;
  text-transform: uppercase;
  width: 25vh;
  left: 5.5%;
  bottom: 1vh;
  text-align: center;
  font-size: 2.5vh;
  color: rgba(255, 255, 255, 0.75);
}

hr {
  height: 0.1vh;
  border: 0.2vh solid grey;
}

span#profile-uid {
  font-size: 1.65vh;
}

div#profile-info div#user-info {
  position: absolute;
  right: 4%;
  width: 60%;
  height: 60%;
  top: 60%;
  transform: translate(0, -50%);
}

@media screen and (max-width: 1200px) {
  div#profile-info div#user-info {
    width: 50%;
    top: 50%;
    transform: translate(0, -50%);
  }
}

div#profile-info div#user-info span#rank {
  font-size: 6vh;
  color: rgb(134, 134, 134);
}

div#xp-bar {
  position: relative;
  top: 1.25vh;
  width: auto;
  height: 32.5%;
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  color: rgba(255, 255, 255, 0.65);
}

div#xp-bar-total {
  position: relative;
  width: 95%;
  height: 2.5vh;
  left: 50%;
  transform: translate(-50%, 0);
  border-radius: 0.75vh;
  overflow: hidden;
  background-color: rgba(90, 90, 90, 0.7);
}

div#xp-bar-total:hover {
  box-shadow: 0 0 0.2vh 0.1vh rgb(83, 83, 83);
  transition-duration: 0.2s;
}

div#xp-bar-total div#xp-bar-count {
  position: relative;
  top: 0;
  left: 0;
  width: calc((4123/5000)*100%);
  background-color: rgba(21, 191, 177, 0.7);
  height: 100%;
}

div#xp-bar-total div#xp-bar-count:hover {
  background-color: rgba(21, 191, 177, 1);
  transition-duration: 0.2s;
}

div#xp-bar div#xp-bar-num {
  position: relative;
  text-align: right;
  font-size: 2.63vh;
  height: 3vh;
  width: 95%;
  left: 50%;
  transform: translate(-50%, 0);
}

div#xp-bar-num span#xp-bar-level {
  position: absolute;
  top: 50%;
  left: 0;
  transform: translate(0, -50%);
}

div#xp-bar-num span#xp-bar-xp {
  position: absolute;
  top: 50%;
  right: 0;
  transform: translate(0, -50%);
}

@media screen and (max-width: 1200px) {
  div#xp-bar div#xp-bar-num {
    text-align: center;
    font-size: 2.25vw;
  }
}

div#user-info-short-stats {
  position: relative;
  top: 0;
  left: 0;
  height: 30%;
  width: auto;
  display: flex;
  flex-direction: row;
  justify-content: space-around;
  /* background-color: green; */
  text-align: center;
  line-height: 7.5vh;
  font-size: 2.75vh;
  color: rgba(255, 255, 255, 0.733);
  /* background-color: red; */
  top: 2vh;
}

div#user-info-short-stats i.fa-trophy {
  color: #cc7722;
}

div#user-info-short-stats i.fa-user-friends {
  color: #4267B2;
}

div#user-info-short-stats i.fa-heart {
  color: #F24B6A;
}

div#user-info-short-stats i.fa-coins {
  color: #ffae00;
}


div#profile-info hr {
  background-color: var(--fc);
}

div#profile-info div#profile-pic {
  position: absolute;
  height: 25vh;
  width: 25vh;
  top: 22%;
  left: 5.5%;
  overflow: hidden;
  border-radius: 50%;
}

div#profile-info div#profile-pic img {
  position: absolute;
  top: 50%;
  left: 50%;
  height: 100%;
  transform: translate(-50%, -50%);
}

div#stats {
  height: 42vh;
  width: 38%;
  background-color: var(--pbg);
  border-radius: 0 1vh 0 0;
}


@media screen and (max-width: 1200px) {
  div#stats {
    height: 52vh;
  }
}

@media screen and (min-width: 1200px) {
  div#stats {
    border-top: 0.1vh solid rgba(255, 255, 255, 0.5);
    border-right: 0.1vh solid rgba(255, 255, 255, 0.5)
  }
}

div#stats div#stats-container-heading {
  position: absolute;
  left: 0;
  padding: 1vh;
  font-size: 3vh;
  color: var(--fc);
  border: 0.22vh solid white;
  margin-top: 1vh;
  margin-left: 1vh;
  border-radius: 0.5vh 0.5vh;
}

div#stats div#stats-container-items {
  position: absolute;
  top: 55%;
  left: 50%;
  color: white;
  line-height: 5vh;
  transform: translate(-75%, -50%);
  font-size: 2vh;
}

div#history {
  height: 25vh;
  width: 60%;
  background-color: var(--pbg);
  border-radius: 0 0 0 1vh;
}


@media screen and (max-width: 1200px) {
  div#history {
    height: 35vh;
  }
}

@media screen and (min-width: 1200px) {
  div#history {
    border-bottom: 0.1vh solid rgba(255, 255, 255, 0.5);
    border-left: 0.1vh solid rgba(255, 255, 255, 0.5)
  }
}

div#history div#history-container-heading {
  position: absolute;
  left: 0;
  top: 0;
  color: var(--fc);
  border: 0.22vh solid white;
  margin: 1vh 1vh;
  font-size: 3vh;
  box-sizing: border-box;
  padding: 0.8vh 1vh;
  border-radius: 0.5vh 0.5vh;
}

div#history div.past-trips {
  position: absolute;
  height: 65%;
  width: 93%;
  left: 50%;
  top: 60%;
  transform: translate(-50%, -50%);
  display: flex;
  flex-direction: row;
  justify-content: space-around;
  box-sizing: border-box;
}

div#history div.past-trips div.past-trips-items {
  position: relative;
  width: 25%;
  height: 45%;
  line-height: 3vh;
  top: 50%;
  transform: translate(0, -50%);
  font-size: 2vh;
  color: rgba(255, 255, 255, 0.623);
  border: 0.3vh solid rgba(255, 255, 255, 0.219);
  border-radius: 0.5ch;
  padding-left: 1vh;
  padding-top: 0.3vh;
  box-sizing: border-box;
  cursor: pointer;
}

div#history div.past-trips div.past-trips-items:hover {
  background-color: var(--fg-1-100);
  transition-duration: 0.2s;
}

div.past-trips div.past-trips-items span.past-trips-items-static {
  opacity: 100%;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  width: 90%;
}

div.past-trips div.past-trips-items:hover span.past-trips-items-static {
  opacity: 0;
  transition-duration: 0.2s;
}

div.past-trips div.past-trips-items span.past-trips-items-hover {
  opacity: 0;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  width: 90%;
}

div.past-trips div.past-trips-items:hover span.past-trips-items-hover {
  opacity: 100%;
  transition-duration: 0.2s;
}

span#location-name {
  color: rgba(255, 255, 255, 0.9);
}

div#history div.past-trips div#view-all {
  height: 5vh;
  width: 5vh;
  text-align: center;
  line-height: 4.75vh;
  padding: 0;
}

div#history div.past-trips div#view-all:hover {
  border: 0.3vh solid rgba(255, 255, 255, 0.75);
  color: rgba(255, 255, 255, 1);
  background-color: var(--fg-1-100);
  transition-duration: 0.2s;
}

div#medals {
  position: relative;
  width: 38%;
  height: 25vh;
  background-color:var(--pbg);
  border-radius: 0 0 1vh 0;
}

@media screen and (max-width: 1200px) {
  div#medals {
    height: 35vh;
  }
}

@media screen and (min-width: 1200px) {
  div#medals {
    border-bottom: 0.1vh solid rgba(255, 255, 255, 0.8);
    border-right: 0.1vh solid rgba(255, 255, 255, 0.8)
  }
}

div#medals div#medals-container-heading {
  position: absolute;
  color: var(--fc);
  border: 0.22vh solid white;
  margin: 1vh 1vh;
  font-size: 3vh;
  padding: 0.8vh 1vh;
  border-radius: 0.5vh 0.5vh;
}

div#medals div#view-all-button {
  position: absolute;
  top: 1.5vh;
  right: 1.5vh;
  height: 5vh;
  width: 5vh;
  font-size: 2vh;
  line-height: 5vh;
  text-align: center;
  cursor: pointer;
  border-radius: 0.75vh;
  box-sizing: border-box;
  color: rgba(255, 255, 255, 0.623);
  border: 0.3vh solid rgba(255, 255, 255, 0.219);
}

div#medals div#view-all-button:hover {
  background-color: var(--fc);
  transition-duration: 0.2s;
  color: rgba(255, 255, 255, 1);
  border: 0.3vh solid rgba(255, 255, 255, 1);
}


div#medals div#medals-medals {
  position: relative;
  width: 95%;
  height: 50%;
  top: 40%;
  left: 2.5%;
  overflow-x: scroll;
  overflow-y: hidden;
  display: flex;
}

div#medals div#medals-medals::-webkit-scrollbar {
  width: 0;
}

div#medals-medals img {
  position: relative;
  top: 25%;
  left: 10%;
  transform: translate(-50%, 0);
  height: 7.5vh;
  width: 7.5vh;
  margin-right: 1.5vh;
}

div#medals-count {
  position: absolute;
  top: 32.75%;
  left: 5%;
  color: rgba(255, 255, 255, 0.65);
  font-size: 2.5vh;
}
/* /Profile */

/* History View All */
div#view-all-container {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  height: 75vh;
  width: 50%;
  background-color: rgba(36, 36, 36, 1);
  border-radius: 1vh;
  box-sizing: border-box;
  border: 0.2vh solid var(--fg-1-100);
  z-index: +4;
  display: none;
}

div#view-all-container div#view-all-close {
  position: absolute;
  top: 2vh;
  right: 2vh;
  height: 5vh;
  width: 5vh;
  text-align: center;
  line-height: 5vh;
  font-size: 5vh;
  cursor: pointer;
  color: var(--fc);
}

div#view-all-container div#view-all-title {
  position: absolute;
  top: 2vh;
  left: 50%;
  transform: translate(-50%, 0);
  font-size: 3.5vh;
  color: var(--fc);
  text-transform: uppercase;
}

div#view-all-container div#view-all-items-container {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  height: 80%;
  width: 80%;
  overflow-y: scroll;
}

div#view-all-container div#view-all-items-container::-webkit-scrollbar {
  width: 0; 
}

div#view-all-items-container div.view-all-items {
  position: relative;
  top: 0;
  left: 0;
  height: 15vh;
  width: 100%;
  background-color: rgb(66, 66, 66);
  box-sizing: border-box;
  border: 0.1vh solid white;
  margin-bottom: 1vh;
  border-radius: 1vh;
  border: 0.2vh solid var(--fg-1-100);
  color: rgba(255, 255, 255, 0.7);
}

div#view-all-items-container div.view-all-items:hover {
  background-color: var(--fg-1-100);
  transition: 0.25s ease;
}

div.view-all-items div.view-all-items-left {
  position: absolute;
  top: 50%;
  left: 1vh;
  transform: translate(0, -50%);
}

div.view-all-items-left span.view-all-items-location {
  color: white;
  text-transform: uppercase;
  font-size: 3vh;
}

div.view-all-items-left span.view-all-items-country{
  color: rgba(255, 255, 255, 0.8);
}

div.view-all-items div.view-all-items-right {
  position: absolute;
  top: 50%;
  right: 1vh;
  transform: translate(0, -50%);
  text-align: right;
}
/* / History View All */

/* Medals View All */
div#medals-view-all {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  height: 75vh;
  width: 50%;
  background-color: rgba(36, 36, 36, 1);
  border-radius: 1vh;
  box-sizing: border-box;
  border: 0.2vh solid var(--fg-1-100);
  z-index: +4;
  display: none;
}

div#medals-view-all div#medals-view-all-close {
  position: absolute;
  top: 2vh;
  right: 2vh;
  height: 5vh;
  width: 5vh;
  text-align: center;
  line-height: 5vh;
  font-size: 5vh;
  cursor: pointer;
  color: var(--fc);
}

div#medals-view-all div#medals-view-all-title {
  position: absolute;
  top: 2vh;
  left: 50%;
  transform: translate(-50%, 0);
  font-size: 3.5vh;
  color: var(--fc);
  text-transform: uppercase;
}

div#medals-view-all div#medals-view-all-container {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  height: 80%;
  width: 80%;
  overflow-y: scroll;
  display: flex;
  flex-wrap: wrap;
  justify-content: flex-start;
  align-content: flex-start;
}

div#medals-view-all div#medals-view-all-container::-webkit-scrollbar {
  width: 0;
}

div#medals-view-all div#medals-view-all-container img {
  position: relative;
  height: 10vh;
  width: 10vh;
  margin-top: 3vh;
  margin-right: 3vh;
}
/* /Medals View All */