
/* Root */
:root {
  --fg-1-100: #EC5929;
	--bg-1-100: #00D4B6;
	font-family: 'Varela', sans-serif;
}
/* /Root */

/*body*/
body{
  background-color: #008bde;
}
/*body*/

/* Everything */
*{
  margin: 0;
  padding: 0;
  text-decoration: none;
}
/* /Everything */

/* Loader */
div#loader-container {
  position: fixed;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  height: 100vh;
  width: 100%;
  background-color: var(--bg-1-100);
  z-index: +100;
  opacity: 100%;
}

  /* Loader Logo */
div#loader-container div#loader-logo {
  position: absolute;
  top: 50%;
  left: 50%;
  height: 20vh;
  width: 20vh;
  transform: translate(-50%, -50%);
  border-radius: 50%;
  overflow: hidden;
  border: 0.5vh solid var(--fg-1-100);
  box-sizing: border-box;
}

div#loader-container div#loader-logo img {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  height: 100%;
  width: 100%;
}
  /* /Loader Logo */

  /* Loader Items */
div#loader-container div.loader-item {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  height: 7vh;
  width: 7vh;
  box-sizing: border-box;
  border-radius: 50%;
  background-color: var(--fg-1-100);
  box-shadow: 0 0 3vh 1vh white;
}

div#loader-container div#loader-item-1 {
  top: calc(50% - 30vh); /* Side = 30 vh */
  left: 50%;
  animation-name: loader-item-1-anim;
  animation-duration: 2s;
  animation-iteration-count: infinite;
}

div#loader-container div#loader-item-2 {
  top: calc(50% - 9.27vh);
  left: calc(50% - 28.53vh);
  animation-name: loader-item-2-anim;
  animation-duration: 2s;
  animation-iteration-count: infinite;
}

div#loader-container div#loader-item-3 {
  top: calc(50% + 24.27vh);
  left: calc(50% - 17.633vh);
  animation-name: loader-item-3-anim;
  animation-duration: 2s;
  animation-iteration-count: infinite;
}

div#loader-container div#loader-item-4 {
  top: calc(50% + 24.27vh);
  left: calc(50% +  17.633vh);
  animation-name: loader-item-4-anim;
  animation-duration: 2s;
  animation-iteration-count: infinite;
}

div#loader-container div#loader-item-5 {
  top: calc(50% - 9.27vh);
  left: calc(50% + 28.53vh);
  animation-name: loader-item-5-anim;
  animation-duration: 2s;
  animation-iteration-count: infinite;
}

    /* Loader Animation */
@keyframes loader-item-1-anim {
  0% {top: calc(50% - 30vh);left: 50%;}
  20% {top: calc(50% - 9.27vh);left: calc(50% - 28.53vh);}
  40% {top: calc(50% + 24.27vh);left: calc(50% - 17.633vh);}
  60% {top: calc(50% + 24.27vh);left: calc(50% +  17.633vh);}
  80% {top: calc(50% - 9.27vh);left: calc(50% + 28.53vh);}
}

@keyframes loader-item-2-anim {
  0% {top: calc(50% - 9.27vh);left: calc(50% - 28.53vh);}
  20% {top: calc(50% + 24.27vh);left: calc(50% - 17.633vh);}
  40% {top: calc(50% + 24.27vh);left: calc(50% +  17.633vh);}
  60% {top: calc(50% - 9.27vh);left: calc(50% + 28.53vh);}
  80% {top: calc(50% - 30vh);left: 50%;}
}

@keyframes loader-item-3-anim {
  0% {top: calc(50% + 24.27vh);left: calc(50% - 17.633vh);}
  20% {top: calc(50% + 24.27vh);left: calc(50% +  17.633vh);}
  40% {top: calc(50% - 9.27vh);left: calc(50% + 28.53vh);}
  60% {top: calc(50% - 30vh);left: 50%;}
  80% {top: calc(50% - 9.27vh);left: calc(50% - 28.53vh);}
}

@keyframes loader-item-4-anim {
  0% {top: calc(50% + 24.27vh);left: calc(50% +  17.633vh);}
  20% {top: calc(50% - 9.27vh);left: calc(50% + 28.53vh);}
  40% {top: calc(50% - 30vh);left: 50%;}
  60% {top: calc(50% - 9.27vh);left: calc(50% - 28.53vh);}
  80% {top: calc(50% + 24.27vh);left: calc(50% - 17.633vh);}
}

@keyframes loader-item-5-anim {
  0% {top: calc(50% - 9.27vh);left: calc(50% + 28.53vh);}
  20% {top: calc(50% - 30vh);left: 50%;}
  40% {top: calc(50% - 9.27vh);left: calc(50% - 28.53vh);}
  60% {top: calc(50% + 24.27vh);left: calc(50% - 17.633vh);}
  80% {top: calc(50% + 24.27vh);left: calc(50% +  17.633vh);}
}
    /* /Loader Animation */
  /* /Loader Items */
/* /Loader */

/* Navbar */
div#navbar-toggle-on {
	position: absolute;
	top: 1vh;
	left: 1vh;
	height: 5vh;
	width: 5vh;
	text-align: center;
	font-size: 5vh;
	line-height: 5vh;
	z-index: +2;
	color: var(--fg-1-100);
}

div#navbar-container {
	position: absolute;
	top: 50%;
	left: 0;
	transform: translate(-100%, -50%);
	height: 100%;
  width: 30%;
  box-sizing: border-box;
	background-color: rgba(0, 214, 186, 0.8);
	z-index: +3;
	box-shadow: 0 0 1vh 0.2vh rgb(73, 73, 73);
	border-right: 0.2vh solid var(--fg-1-100);
	border-radius: 0 2vh 2vh 0;
}

@media screen and (max-width: 1000px) {
	div#navbar-container {
		width: 100%;
		transform: translate(-100%, -50%);
		border-radius: 0;
		background-color: rgba(0, 214, 186, 0.9);
	}
}

div#navbar-container div#navbar-toggle-off {
	position: absolute;
	top: 1vh;
	left: 1vh;
	height: 5vh;
	width: 5vh;
	text-align: center;
	font-size: 5vh;
	line-height: 5vh;
	z-index: +3;
	color: var(--fg-1-100);
}

div#navbar-container div#menu-container {
	position: absolute;
	top: 10%;
	left: 50%;
	transform: translate(-50%, 0);
	height: auto;
  width: 90%;
  box-sizing: border-box;
	display: flex;
	flex-direction: column;
  justify-content: space-between;
  font-size: 3vh;
}

div#menu-container div.menu-items {
  position: relative;
  background-color: rgba(255, 255, 255, 0.815);
  padding: 2vh 5vh;
  box-sizing: border-box;
  border-radius: 1.5vh 1.5vh 1.5vh 1.5vh;
  border: 0.25vh solid rgba(236, 90, 41, 0.58);
  width: 100%;
  left: 47.5%;
  transform: translate(-50%, 0);
  text-align: center;
  text-transform: uppercase;
  margin: 1vh;
  color: var(--fg-1-100);
}

div#navbar-container div.active {
  background-color: rgba(255, 112, 17, 0.9);
  color: rgba(255, 255, 255, 0.815);
}

div#menu-container div.menu-items:hover {
  background-color:var(--fg-1-100);
  color: white;
  transition-duration: 0.15s;
  box-shadow: white;
  box-shadow: 0 0 1.5vh 0.2vh rgb(255, 252, 252);
}
/* Navbar */

/*PROFILE*/

div.profile{
  position: fixed;
  height: 100vh;
  width: 30%;
  background-color: var(--bg-1-100);
  border: 0.6vh double var(--fg-1-100);
}

div.profile_pic{
 
  position: absolute;
  height: 35vh;
  width: 35vh;
  top: 30%;
  left: 50%;
  transform: translate( -50%, -50%);
  border: 0.4vh solid black;
  border-radius: 50%;
  overflow: hidden;
}

img.profile_pic{
  height: 100%;
  width: auto;
  object-fit: cover;
}

div.stats{
  position: absolute;
  top: 70%;
  left: 50%;
  transform: translate( -50%, -50%);
  height: 25vh;
  width: 40vh;
  text-align: center;
  color: white;
}
div.stats h2{
  font-size: 4vh;
  font-family: 'Poppins', sans-serif;
}

p.level{
  text-align: left;
  padding-left: 2vh;
  font-size: 3vh;
  font-family: 'Poppins', sans-serif;
}

/*PROFILE*/

/*SERVICES*/

/*service box*/
div.services{
  position: fixed;
  left: 0;
  top: 0;
  height: 100vh;
  width: 75%;
  border: 0.2vh solid black;
  background-color: none;
  overflow: auto;
  -ms-overflow-style: none;  /* IE and Edge */
  scrollbar-width: none;  /* Firefox */
}

div.services::-webkit-scrollbar{
  display: none;
}

/*service box*/

div#service_heading{
  position: sticky;
  top: 0;
  background-color: #008bde;
  z-index: 1;
}

div.services h2{
  padding: 3vh;
  padding-left: 10vh;
  font-size: 6vh;
  position: static;
  font-family: 'Poppins', sans-serif;
}

/*service item box*/

div.service_item{
  height: 60vh;
  width: 95%;
  border: 0.2vh solid var(--bg-1-100);
  box-shadow: 0 0 1vh 0.2vh var(--bg-1-100);
  border-radius: 2vh 2vh 2vh 2vh;
  overflow: hidden;
  margin: 1vh;
}

/*service item box*/

/*Service img*/

div.service_img{
  float: left;
  height: 55vh;
  width: 80vh;
  border: 0.2vh solid black;
  border-radius: 2vh 2vh 2vh 2vh;
  overflow: hidden;
  margin: 2vh;
}

div.service_img img{
  height: 100%;
  width: 100%;
  object-fit: cover;
}

/*Service img*/

/*service para*/

div.service_content{
  position: relative;
  top:30%;
  right:0;
  transform:translate(0,-50%);
  text-align: left;
  color: black;
  text-decoration: none;
  padding-top: 2vh;
  font-size: 3vh;
  overflow: hidden;
}

i.fas{
  color: #F24B6A;
}

/*service para*/


/*SERVICES*/

/*STORIES*/

/*story heading*/
div.story_heading{
  height: 7vh;
  width: 100%;
  border: 0.3vh solid black;
}

div.story_heading p{
  position: absolute;
  left: 50%;
  top: 5%;
  transform: translate( -50%, -50%);
  font-size: 3vh;
  font-family: 'Poppins', sans-serif; 
  text-align: center;
}

/*story heading*/

/*story container*/

div.story_container{
  position: absolute;
  left: 50%;
  top: 10%;
  transform: translate( -50%, 0);
}

/*story container*/



div.stories{
  position: absolute;
  top: 0;
  left:75%;
  height: 99.2vh;
  width: 24%;
  border: 0.3vh solid black;
  background-color: red;
  overflow: auto;
}

/*story img*/

div.story_img{
  height: 15vh;
  width: 15vh;
  border-radius: 50%;
  overflow: hidden;
  margin-top: 5vh;
}

img.story{
  height: 100%;
  width: 100%;
}

/*story img*/


/*STORIES*/